.g8v2-sprite-og span {
    background-image: url(../img/spritesheet_medium_g8v2_og.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.g8v2-sprite-og span {
    float: left;
}

.g8v2-sprite-og-810_00 {
    width: 48px;
    height: 48px;
    background-position: 0 0;
}

.g8v2-sprite-og-811_00 {
    width: 48px;
    height: 48px;
    background-position: -48px 0;
}

.g8v2-sprite-og-812_00 {
    width: 48px;
    height: 48px;
    background-position: -96px 0;
}

.g8v2-sprite-og-813_00 {
    width: 48px;
    height: 48px;
    background-position: -144px 0;
}

.g8v2-sprite-og-814_00 {
    width: 48px;
    height: 48px;
    background-position: -192px 0;
}

.g8v2-sprite-og-815_00 {
    width: 48px;
    height: 48px;
    background-position: -240px 0;
}

.g8v2-sprite-og-816_00 {
    width: 48px;
    height: 48px;
    background-position: -288px 0;
}

.g8v2-sprite-og-817_00 {
    width: 48px;
    height: 48px;
    background-position: -336px 0;
}

.g8v2-sprite-og-818_00 {
    width: 48px;
    height: 48px;
    background-position: -384px 0;
}

.g8v2-sprite-og-819_00 {
    width: 48px;
    height: 48px;
    background-position: 0 -48px;
}

.g8v2-sprite-og-820_00 {
    width: 48px;
    height: 48px;
    background-position: -48px -48px;
}

.g8v2-sprite-og-821_00 {
    width: 48px;
    height: 48px;
    background-position: -96px -48px;
}

.g8v2-sprite-og-822_00 {
    width: 48px;
    height: 48px;
    background-position: -144px -48px;
}

.g8v2-sprite-og-823_00 {
    width: 48px;
    height: 48px;
    background-position: -192px -48px;
}

.g8v2-sprite-og-824_00 {
    width: 48px;
    height: 48px;
    background-position: -240px -48px;
}

.g8v2-sprite-og-825_00 {
    width: 48px;
    height: 48px;
    background-position: -288px -48px;
}

.g8v2-sprite-og-826_00 {
    width: 48px;
    height: 48px;
    background-position: -336px -48px;
}

.g8v2-sprite-og-827_00 {
    width: 48px;
    height: 48px;
    background-position: -384px -48px;
}

.g8v2-sprite-og-828_00 {
    width: 48px;
    height: 48px;
    background-position: 0 -96px;
}

.g8v2-sprite-og-829_00 {
    width: 48px;
    height: 48px;
    background-position: -48px -96px;
}

.g8v2-sprite-og-830_00 {
    width: 48px;
    height: 48px;
    background-position: -96px -96px;
}

.g8v2-sprite-og-831_00 {
    width: 48px;
    height: 48px;
    background-position: -144px -96px;
}

.g8v2-sprite-og-832_00 {
    width: 48px;
    height: 48px;
    background-position: -192px -96px;
}

.g8v2-sprite-og-833_00 {
    width: 48px;
    height: 48px;
    background-position: -240px -96px;
}

.g8v2-sprite-og-834_00 {
    width: 48px;
    height: 48px;
    background-position: -288px -96px;
}

.g8v2-sprite-og-835_00 {
    width: 48px;
    height: 48px;
    background-position: -336px -96px;
}

.g8v2-sprite-og-836_00 {
    width: 48px;
    height: 48px;
    background-position: -384px -96px;
}

.g8v2-sprite-og-837_00 {
    width: 48px;
    height: 48px;
    background-position: 0 -144px;
}

.g8v2-sprite-og-838_00 {
    width: 48px;
    height: 48px;
    background-position: -48px -144px;
}

.g8v2-sprite-og-839_00 {
    width: 48px;
    height: 48px;
    background-position: -96px -144px;
}

.g8v2-sprite-og-840_00 {
    width: 48px;
    height: 48px;
    background-position: -144px -144px;
}

.g8v2-sprite-og-841_00 {
    width: 48px;
    height: 48px;
    background-position: -192px -144px;
}

.g8v2-sprite-og-842_00 {
    width: 48px;
    height: 48px;
    background-position: -240px -144px;
}

.g8v2-sprite-og-843_00 {
    width: 48px;
    height: 48px;
    background-position: -288px -144px;
}

.g8v2-sprite-og-844_00 {
    width: 48px;
    height: 48px;
    background-position: -336px -144px;
}

.g8v2-sprite-og-845_00 {
    width: 48px;
    height: 48px;
    background-position: -384px -144px;
}

.g8v2-sprite-og-846_00 {
    width: 48px;
    height: 48px;
    background-position: 0 -192px;
}

.g8v2-sprite-og-847_00 {
    width: 48px;
    height: 48px;
    background-position: -48px -192px;
}

.g8v2-sprite-og-848_00 {
    width: 48px;
    height: 48px;
    background-position: -96px -192px;
}

.g8v2-sprite-og-849_00 {
    width: 48px;
    height: 48px;
    background-position: -144px -192px;
}

.g8v2-sprite-og-850_00 {
    width: 48px;
    height: 48px;
    background-position: -192px -192px;
}

.g8v2-sprite-og-851_00 {
    width: 48px;
    height: 48px;
    background-position: -240px -192px;
}

.g8v2-sprite-og-852_00 {
    width: 48px;
    height: 48px;
    background-position: -288px -192px;
}

.g8v2-sprite-og-853_00 {
    width: 48px;
    height: 48px;
    background-position: -336px -192px;
}

.g8v2-sprite-og-854_00 {
    width: 48px;
    height: 48px;
    background-position: -384px -192px;
}

.g8v2-sprite-og-855_00 {
    width: 48px;
    height: 48px;
    background-position: 0 -240px;
}

.g8v2-sprite-og-856_00 {
    width: 48px;
    height: 48px;
    background-position: -48px -240px;
}

.g8v2-sprite-og-857_00 {
    width: 48px;
    height: 48px;
    background-position: -96px -240px;
}

.g8v2-sprite-og-858_00 {
    width: 48px;
    height: 48px;
    background-position: -144px -240px;
}

.g8v2-sprite-og-859_00 {
    width: 48px;
    height: 48px;
    background-position: -192px -240px;
}

.g8v2-sprite-og-860_00 {
    width: 48px;
    height: 48px;
    background-position: -240px -240px;
}

.g8v2-sprite-og-861_00 {
    width: 48px;
    height: 48px;
    background-position: -288px -240px;
}

.g8v2-sprite-og-862_00 {
    width: 48px;
    height: 48px;
    background-position: -336px -240px;
}

.g8v2-sprite-og-863_00 {
    width: 48px;
    height: 48px;
    background-position: -384px -240px;
}

.g8v2-sprite-og-864_00 {
    width: 48px;
    height: 48px;
    background-position: 0 -288px;
}

.g8v2-sprite-og-865_00 {
    width: 48px;
    height: 48px;
    background-position: -48px -288px;
}

.g8v2-sprite-og-866_00 {
    width: 48px;
    height: 48px;
    background-position: -96px -288px;
}

.g8v2-sprite-og-867_00 {
    width: 48px;
    height: 48px;
    background-position: -144px -288px;
}

.g8v2-sprite-og-868_00 {
    width: 48px;
    height: 48px;
    background-position: -192px -288px;
}

.g8v2-sprite-og-869_00 {
    width: 48px;
    height: 48px;
    background-position: -240px -288px;
}

.g8v2-sprite-og-870_00 {
    width: 48px;
    height: 48px;
    background-position: -288px -288px;
}

.g8v2-sprite-og-871_00 {
    width: 48px;
    height: 48px;
    background-position: -336px -288px;
}

.g8v2-sprite-og-872_00 {
    width: 48px;
    height: 48px;
    background-position: -384px -288px;
}

.g8v2-sprite-og-873_00 {
    width: 48px;
    height: 48px;
    background-position: 0 -336px;
}

.g8v2-sprite-og-874_00 {
    width: 48px;
    height: 48px;
    background-position: -48px -336px;
}

.g8v2-sprite-og-875_00 {
    width: 48px;
    height: 48px;
    background-position: -96px -336px;
}

.g8v2-sprite-og-876_00 {
    width: 48px;
    height: 48px;
    background-position: -144px -336px;
}

.g8v2-sprite-og-877_00 {
    width: 48px;
    height: 48px;
    background-position: -192px -336px;
}

.g8v2-sprite-og-878_00 {
    width: 48px;
    height: 48px;
    background-position: -240px -336px;
}

.g8v2-sprite-og-879_00 {
    width: 48px;
    height: 48px;
    background-position: -288px -336px;
}

.g8v2-sprite-og-880_00 {
    width: 48px;
    height: 48px;
    background-position: -336px -336px;
}

.g8v2-sprite-og-881_00 {
    width: 48px;
    height: 48px;
    background-position: -384px -336px;
}

.g8v2-sprite-og-882_00 {
    width: 48px;
    height: 48px;
    background-position: 0 -384px;
}

.g8v2-sprite-og-883_00 {
    width: 48px;
    height: 48px;
    background-position: -48px -384px;
}

.g8v2-sprite-og-884_00 {
    width: 48px;
    height: 48px;
    background-position: -96px -384px;
}

.g8v2-sprite-og-885_00 {
    width: 48px;
    height: 48px;
    background-position: -144px -384px;
}

.g8v2-sprite-og-886_00 {
    width: 48px;
    height: 48px;
    background-position: -192px -384px;
}

.g8v2-sprite-og-887_00 {
    width: 48px;
    height: 48px;
    background-position: -240px -384px;
}

.g8v2-sprite-og-888_00 {
    width: 48px;
    height: 48px;
    background-position: -288px -384px;
}

.g8v2-sprite-og-889_00 {
    width: 48px;
    height: 48px;
    background-position: -336px -384px;
}

.g8v2-sprite-og-890_00 {
    width: 48px;
    height: 48px;
    background-position: -384px -384px;
}

.g8v2-sprite-og-891_00 {
    width: 48px;
    height: 48px;
    background-position: -432px 0;
}

.g8v2-sprite-og-892_00 {
    width: 48px;
    height: 48px;
    background-position: -432px -48px;
}

.g8v2-sprite-og-893_00 {
    width: 48px;
    height: 48px;
    background-position: -432px -96px;
}

.g8v2-sprite-og-894_00 {
    width: 48px;
    height: 48px;
    background-position: -432px -144px;
}

.g8v2-sprite-og-895_00 {
    width: 48px;
    height: 48px;
    background-position: -432px -192px;
}

.g8v2-sprite-og-896_00 {
    width: 48px;
    height: 48px;
    background-position: -432px -240px;
}

.g8v2-sprite-og-897_00 {
    width: 48px;
    height: 48px;
    background-position: -432px -288px;
}

.g8v2-sprite-og-898_00 {
    width: 48px;
    height: 48px;
    background-position: -432px -336px;
}
