.g7v1-sprite-og span {
    background-image: url(../img/spritesheet_medium_g7v1_og.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.g7v1-sprite-og span {
    float: left;
}

.g7v1-sprite-og-722_00 {
    width: 72px;
    height: 72px;
    background-position: 0 0;
}

.g7v1-sprite-og-723_00 {
    width: 72px;
    height: 72px;
    background-position: -72px 0;
}

.g7v1-sprite-og-724_00 {
    width: 72px;
    height: 72px;
    background-position: -144px 0;
}

.g7v1-sprite-og-725_00 {
    width: 72px;
    height: 72px;
    background-position: -216px 0;
}

.g7v1-sprite-og-726_00 {
    width: 72px;
    height: 72px;
    background-position: -288px 0;
}

.g7v1-sprite-og-727_00 {
    width: 72px;
    height: 72px;
    background-position: -360px 0;
}

.g7v1-sprite-og-728_00 {
    width: 72px;
    height: 72px;
    background-position: -432px 0;
}

.g7v1-sprite-og-729_00 {
    width: 72px;
    height: 72px;
    background-position: -504px 0;
}

.g7v1-sprite-og-730_00 {
    width: 72px;
    height: 72px;
    background-position: -576px 0;
}

.g7v1-sprite-og-731_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -72px;
}

.g7v1-sprite-og-732_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -72px;
}

.g7v1-sprite-og-733_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -72px;
}

.g7v1-sprite-og-734_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -72px;
}

.g7v1-sprite-og-735_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -72px;
}

.g7v1-sprite-og-736_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -72px;
}

.g7v1-sprite-og-737_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -72px;
}

.g7v1-sprite-og-738_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -72px;
}

.g7v1-sprite-og-739_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -72px;
}

.g7v1-sprite-og-740_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -144px;
}

.g7v1-sprite-og-741_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -144px;
}

.g7v1-sprite-og-742_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -144px;
}

.g7v1-sprite-og-743_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -144px;
}

.g7v1-sprite-og-744_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -144px;
}

.g7v1-sprite-og-745_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -144px;
}

.g7v1-sprite-og-746_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -144px;
}

.g7v1-sprite-og-747_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -144px;
}

.g7v1-sprite-og-748_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -144px;
}

.g7v1-sprite-og-749_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -216px;
}

.g7v1-sprite-og-750_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -216px;
}

.g7v1-sprite-og-751_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -216px;
}

.g7v1-sprite-og-752_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -216px;
}

.g7v1-sprite-og-753_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -216px;
}

.g7v1-sprite-og-754_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -216px;
}

.g7v1-sprite-og-755_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -216px;
}

.g7v1-sprite-og-756_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -216px;
}

.g7v1-sprite-og-757_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -216px;
}

.g7v1-sprite-og-758_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -288px;
}

.g7v1-sprite-og-759_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -288px;
}

.g7v1-sprite-og-760_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -288px;
}

.g7v1-sprite-og-761_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -288px;
}

.g7v1-sprite-og-762_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -288px;
}

.g7v1-sprite-og-763_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -288px;
}

.g7v1-sprite-og-764_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -288px;
}

.g7v1-sprite-og-765_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -288px;
}

.g7v1-sprite-og-766_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -288px;
}

.g7v1-sprite-og-767_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -360px;
}

.g7v1-sprite-og-768_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -360px;
}

.g7v1-sprite-og-769_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -360px;
}

.g7v1-sprite-og-770_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -360px;
}

.g7v1-sprite-og-771_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -360px;
}

.g7v1-sprite-og-772_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -360px;
}

.g7v1-sprite-og-773_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -360px;
}

.g7v1-sprite-og-774_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -360px;
}

.g7v1-sprite-og-775_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -360px;
}

.g7v1-sprite-og-776_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -432px;
}

.g7v1-sprite-og-777_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -432px;
}

.g7v1-sprite-og-778_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -432px;
}

.g7v1-sprite-og-779_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -432px;
}

.g7v1-sprite-og-780_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -432px;
}

.g7v1-sprite-og-781_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -432px;
}

.g7v1-sprite-og-782_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -432px;
}

.g7v1-sprite-og-783_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -432px;
}

.g7v1-sprite-og-784_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -432px;
}

.g7v1-sprite-og-785_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -504px;
}

.g7v1-sprite-og-786_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -504px;
}

.g7v1-sprite-og-787_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -504px;
}

.g7v1-sprite-og-788_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -504px;
}

.g7v1-sprite-og-789_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -504px;
}

.g7v1-sprite-og-790_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -504px;
}

.g7v1-sprite-og-791_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -504px;
}

.g7v1-sprite-og-792_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -504px;
}

.g7v1-sprite-og-793_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -504px;
}

.g7v1-sprite-og-794_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -576px;
}

.g7v1-sprite-og-795_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -576px;
}

.g7v1-sprite-og-796_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -576px;
}

.g7v1-sprite-og-797_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -576px;
}

.g7v1-sprite-og-798_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -576px;
}

.g7v1-sprite-og-799_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -576px;
}

.g7v1-sprite-og-800_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -576px;
}

.g7v1-sprite-og-801_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -576px;
}

.g7v1-sprite-og-802_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -576px;
}

.g7v1-sprite-og-803_00 {
    width: 72px;
    height: 72px;
    background-position: -648px 0;
}

.g7v1-sprite-og-804_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -72px;
}

.g7v1-sprite-og-805_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -144px;
}

.g7v1-sprite-og-806_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -216px;
}

.g7v1-sprite-og-807_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -288px;
}

.g7v1-sprite-og-808_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -360px;
}

.g7v1-sprite-og-809_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -432px;
}
