.g3v4-sprite-og span {
    background-image: url(../img/spritesheet_medium_g3v4_og.png?001);
    background-repeat: no-repeat;
    display: block;
}

#menu.g3v4-sprite-og span {
    float: left;
}

.g3v4-sprite-og-276 {
    width: 48px;
    height: 48px;
    background-position: -5px -5px;
}

.g3v4-sprite-og-277 {
    width: 48px;
    height: 48px;
    background-position: -63px -5px;
}

.g3v4-sprite-og-278 {
    width: 48px;
    height: 48px;
    background-position: -121px -5px;
}

.g3v4-sprite-og-279 {
    width: 48px;
    height: 48px;
    background-position: -179px -5px;
}

.g3v4-sprite-og-283 {
    width: 48px;
    height: 48px;
    background-position: -5px -63px;
}

.g3v4-sprite-og-284 {
    width: 48px;
    height: 48px;
    background-position: -63px -63px;
}

.g3v4-sprite-og-313 {
    width: 48px;
    height: 48px;
    background-position: -121px -63px;
}

.g3v4-sprite-og-314 {
    width: 48px;
    height: 48px;
    background-position: -179px -63px;
}

.g3v4-sprite-og-333 {
    width: 48px;
    height: 48px;
    background-position: -5px -121px;
}

.g3v4-sprite-og-334 {
    width: 48px;
    height: 48px;
    background-position: -63px -121px;
}

.g3v4-sprite-og-351 {
    width: 48px;
    height: 48px;
    background-position: -121px -121px;
}

.g3v4-sprite-og-351_29 {
    width: 48px;
    height: 48px;
    background-position: -179px -121px;
}

.g3v4-sprite-og-351_30 {
    width: 48px;
    height: 48px;
    background-position: -5px -179px;
}

.g3v4-sprite-og-351_31 {
    width: 48px;
    height: 48px;
    background-position: -63px -179px;
}

.g3v4-sprite-og-351_32 {
    width: 48px;
    height: 48px;
    background-position: -121px -179px;
}

.g3v4-sprite-og-357 {
    width: 48px;
    height: 48px;
    background-position: -179px -179px;
}

.g3v4-sprite-og-358 {
    width: 48px;
    height: 48px;
    background-position: -237px -5px;
}

.g3v4-sprite-og-371 {
    width: 48px;
    height: 48px;
    background-position: -237px -63px;
}

.g3v4-sprite-og-372 {
    width: 48px;
    height: 48px;
    background-position: -237px -121px;
}

.g3v4-sprite-og-373 {
    width: 48px;
    height: 48px;
    background-position: -237px -179px;
}

.g3v4-sprite-og-374 {
    width: 48px;
    height: 48px;
    background-position: -5px -237px;
}

.g3v4-sprite-og-375 {
    width: 48px;
    height: 48px;
    background-position: -63px -237px;
}

.g3v4-sprite-og-376 {
    width: 48px;
    height: 48px;
    background-position: -121px -237px;
}

.g3v4-sprite-og-384 {
    width: 48px;
    height: 48px;
    background-position: -179px -237px;
}
