.g8v1-sprite-cart span {
    background-image: url(../img/spritesheet_medium_g8v1_cart.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.g8v1-sprite-cart span {
    float: left;
}

.g8v1-sprite-cart-810_00 {
    width: 72px;
    height: 72px;
    background-position: 0 0;
}

.g8v1-sprite-cart-811_00 {
    width: 72px;
    height: 72px;
    background-position: -72px 0;
}

.g8v1-sprite-cart-812_00 {
    width: 72px;
    height: 72px;
    background-position: -144px 0;
}

.g8v1-sprite-cart-813_00 {
    width: 72px;
    height: 72px;
    background-position: -216px 0;
}

.g8v1-sprite-cart-814_00 {
    width: 72px;
    height: 72px;
    background-position: -288px 0;
}

.g8v1-sprite-cart-815_00 {
    width: 72px;
    height: 72px;
    background-position: -360px 0;
}

.g8v1-sprite-cart-816_00 {
    width: 72px;
    height: 72px;
    background-position: -432px 0;
}

.g8v1-sprite-cart-817_00 {
    width: 72px;
    height: 72px;
    background-position: -504px 0;
}

.g8v1-sprite-cart-818_00 {
    width: 72px;
    height: 72px;
    background-position: -576px 0;
}

.g8v1-sprite-cart-819_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -72px;
}

.g8v1-sprite-cart-820_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -72px;
}

.g8v1-sprite-cart-821_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -72px;
}

.g8v1-sprite-cart-822_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -72px;
}

.g8v1-sprite-cart-823_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -72px;
}

.g8v1-sprite-cart-824_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -72px;
}

.g8v1-sprite-cart-825_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -72px;
}

.g8v1-sprite-cart-826_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -72px;
}

.g8v1-sprite-cart-827_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -72px;
}

.g8v1-sprite-cart-828_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -144px;
}

.g8v1-sprite-cart-829_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -144px;
}

.g8v1-sprite-cart-830_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -144px;
}

.g8v1-sprite-cart-831_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -144px;
}

.g8v1-sprite-cart-832_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -144px;
}

.g8v1-sprite-cart-833_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -144px;
}

.g8v1-sprite-cart-834_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -144px;
}

.g8v1-sprite-cart-835_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -144px;
}

.g8v1-sprite-cart-836_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -144px;
}

.g8v1-sprite-cart-837_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -216px;
}

.g8v1-sprite-cart-838_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -216px;
}

.g8v1-sprite-cart-839_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -216px;
}

.g8v1-sprite-cart-840_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -216px;
}

.g8v1-sprite-cart-841_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -216px;
}

.g8v1-sprite-cart-842_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -216px;
}

.g8v1-sprite-cart-843_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -216px;
}

.g8v1-sprite-cart-844_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -216px;
}

.g8v1-sprite-cart-845_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -216px;
}

.g8v1-sprite-cart-846_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -288px;
}

.g8v1-sprite-cart-847_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -288px;
}

.g8v1-sprite-cart-848_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -288px;
}

.g8v1-sprite-cart-849_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -288px;
}

.g8v1-sprite-cart-850_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -288px;
}

.g8v1-sprite-cart-851_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -288px;
}

.g8v1-sprite-cart-852_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -288px;
}

.g8v1-sprite-cart-853_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -288px;
}

.g8v1-sprite-cart-854_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -288px;
}

.g8v1-sprite-cart-855_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -360px;
}

.g8v1-sprite-cart-856_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -360px;
}

.g8v1-sprite-cart-857_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -360px;
}

.g8v1-sprite-cart-858_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -360px;
}

.g8v1-sprite-cart-859_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -360px;
}

.g8v1-sprite-cart-860_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -360px;
}

.g8v1-sprite-cart-861_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -360px;
}

.g8v1-sprite-cart-862_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -360px;
}

.g8v1-sprite-cart-863_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -360px;
}

.g8v1-sprite-cart-864_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -432px;
}

.g8v1-sprite-cart-865_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -432px;
}

.g8v1-sprite-cart-866_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -432px;
}

.g8v1-sprite-cart-867_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -432px;
}

.g8v1-sprite-cart-868_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -432px;
}

.g8v1-sprite-cart-869_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -432px;
}

.g8v1-sprite-cart-870_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -432px;
}

.g8v1-sprite-cart-871_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -432px;
}

.g8v1-sprite-cart-872_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -432px;
}

.g8v1-sprite-cart-873_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -504px;
}

.g8v1-sprite-cart-874_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -504px;
}

.g8v1-sprite-cart-875_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -504px;
}

.g8v1-sprite-cart-876_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -504px;
}

.g8v1-sprite-cart-877_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -504px;
}

.g8v1-sprite-cart-878_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -504px;
}

.g8v1-sprite-cart-879_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -504px;
}

.g8v1-sprite-cart-880_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -504px;
}

.g8v1-sprite-cart-881_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -504px;
}

.g8v1-sprite-cart-882_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -576px;
}

.g8v1-sprite-cart-883_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -576px;
}

.g8v1-sprite-cart-884_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -576px;
}

.g8v1-sprite-cart-885_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -576px;
}

.g8v1-sprite-cart-886_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -576px;
}

.g8v1-sprite-cart-887_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -576px;
}

.g8v1-sprite-cart-888_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -576px;
}

.g8v1-sprite-cart-889_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -576px;
}

.g8v1-sprite-cart-890_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -576px;
}

.g8v1-sprite-cart-891_00 {
    width: 72px;
    height: 72px;
    background-position: -648px 0;
}

.g8v1-sprite-cart-892_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -72px;
}

.g8v1-sprite-cart-893_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -144px;
}

.g8v1-sprite-cart-894_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -216px;
}

.g8v1-sprite-cart-895_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -288px;
}

.g8v1-sprite-cart-896_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -360px;
}

.g8v1-sprite-cart-897_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -432px;
}

.g8v1-sprite-cart-898_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -504px;
}
