.gXv2-sprite-shiny span {
    background-image: url(../img/spritesheet_medium_gXv2_shiny.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.gXv2-sprite-shiny span {
    float: left;
    position: relative;
    top: -15px;
    left: -10px;
}

.gXv2-sprite-shiny-808_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -5px;
}

.gXv2-sprite-shiny-809_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -5px;
}

.gXv2-sprite-shiny-891_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -87px;
}

.gXv2-sprite-shiny-892_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -87px;
}
