.g5v1-sprite-og span {
    background-image: url(../img/spritesheet_medium_g5v1_og.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.g5v1-sprite-og span {
    float: left;
}

.g5v1-sprite-og-494_00 {
    width: 48px;
    height: 48px;
    background-position: -5px -5px;
}

.g5v1-sprite-og-495_00 {
    width: 48px;
    height: 48px;
    background-position: -63px -5px;
}

.g5v1-sprite-og-496_00 {
    width: 48px;
    height: 48px;
    background-position: -121px -5px;
}

.g5v1-sprite-og-497_00 {
    width: 48px;
    height: 48px;
    background-position: -179px -5px;
}

.g5v1-sprite-og-498_00 {
    width: 48px;
    height: 48px;
    background-position: -237px -5px;
}

.g5v1-sprite-og-499_00 {
    width: 48px;
    height: 48px;
    background-position: -295px -5px;
}

.g5v1-sprite-og-500_00 {
    width: 48px;
    height: 48px;
    background-position: -353px -5px;
}

.g5v1-sprite-og-501_00 {
    width: 48px;
    height: 48px;
    background-position: -411px -5px;
}

.g5v1-sprite-og-502_00 {
    width: 48px;
    height: 48px;
    background-position: -469px -5px;
}

.g5v1-sprite-og-503_00 {
    width: 48px;
    height: 48px;
    background-position: -527px -5px;
}

.g5v1-sprite-og-504_00 {
    width: 48px;
    height: 48px;
    background-position: -585px -5px;
}

.g5v1-sprite-og-505_00 {
    width: 48px;
    height: 48px;
    background-position: -643px -5px;
}

.g5v1-sprite-og-506_00 {
    width: 48px;
    height: 48px;
    background-position: -5px -63px;
}

.g5v1-sprite-og-507_00 {
    width: 48px;
    height: 48px;
    background-position: -63px -63px;
}

.g5v1-sprite-og-508_00 {
    width: 48px;
    height: 48px;
    background-position: -121px -63px;
}

.g5v1-sprite-og-509_00 {
    width: 48px;
    height: 48px;
    background-position: -179px -63px;
}

.g5v1-sprite-og-510_00 {
    width: 48px;
    height: 48px;
    background-position: -237px -63px;
}

.g5v1-sprite-og-511_00 {
    width: 48px;
    height: 48px;
    background-position: -295px -63px;
}

.g5v1-sprite-og-512_00 {
    width: 48px;
    height: 48px;
    background-position: -353px -63px;
}

.g5v1-sprite-og-513_00 {
    width: 48px;
    height: 48px;
    background-position: -411px -63px;
}

.g5v1-sprite-og-514_00 {
    width: 48px;
    height: 48px;
    background-position: -469px -63px;
}

.g5v1-sprite-og-515_00 {
    width: 48px;
    height: 48px;
    background-position: -527px -63px;
}

.g5v1-sprite-og-516_00 {
    width: 48px;
    height: 48px;
    background-position: -585px -63px;
}

.g5v1-sprite-og-517_00 {
    width: 48px;
    height: 48px;
    background-position: -643px -63px;
}

.g5v1-sprite-og-518_00 {
    width: 48px;
    height: 48px;
    background-position: -5px -121px;
}

.g5v1-sprite-og-519_00 {
    width: 48px;
    height: 48px;
    background-position: -63px -121px;
}

.g5v1-sprite-og-520_00 {
    width: 48px;
    height: 48px;
    background-position: -121px -121px;
}

.g5v1-sprite-og-521_00 {
    width: 48px;
    height: 48px;
    background-position: -179px -121px;
}

.g5v1-sprite-og-522_00 {
    width: 48px;
    height: 48px;
    background-position: -237px -121px;
}

.g5v1-sprite-og-523_00 {
    width: 48px;
    height: 48px;
    background-position: -295px -121px;
}

.g5v1-sprite-og-524_00 {
    width: 48px;
    height: 48px;
    background-position: -353px -121px;
}

.g5v1-sprite-og-525_00 {
    width: 48px;
    height: 48px;
    background-position: -411px -121px;
}

.g5v1-sprite-og-526_00 {
    width: 48px;
    height: 48px;
    background-position: -469px -121px;
}

.g5v1-sprite-og-527_00 {
    width: 48px;
    height: 48px;
    background-position: -527px -121px;
}

.g5v1-sprite-og-528_00 {
    width: 48px;
    height: 48px;
    background-position: -585px -121px;
}

.g5v1-sprite-og-529_00 {
    width: 48px;
    height: 48px;
    background-position: -643px -121px;
}

.g5v1-sprite-og-530_00 {
    width: 48px;
    height: 48px;
    background-position: -5px -179px;
}

.g5v1-sprite-og-531_00 {
    width: 48px;
    height: 48px;
    background-position: -63px -179px;
}

.g5v1-sprite-og-532_00 {
    width: 48px;
    height: 48px;
    background-position: -121px -179px;
}

.g5v1-sprite-og-533_00 {
    width: 48px;
    height: 48px;
    background-position: -179px -179px;
}

.g5v1-sprite-og-534_00 {
    width: 48px;
    height: 48px;
    background-position: -237px -179px;
}

.g5v1-sprite-og-535_00 {
    width: 48px;
    height: 48px;
    background-position: -295px -179px;
}

.g5v1-sprite-og-536_00 {
    width: 48px;
    height: 48px;
    background-position: -353px -179px;
}

.g5v1-sprite-og-537_00 {
    width: 48px;
    height: 48px;
    background-position: -411px -179px;
}

.g5v1-sprite-og-538_00 {
    width: 48px;
    height: 48px;
    background-position: -469px -179px;
}

.g5v1-sprite-og-539_00 {
    width: 48px;
    height: 48px;
    background-position: -527px -179px;
}

.g5v1-sprite-og-540_00 {
    width: 48px;
    height: 48px;
    background-position: -585px -179px;
}

.g5v1-sprite-og-541_00 {
    width: 48px;
    height: 48px;
    background-position: -643px -179px;
}

.g5v1-sprite-og-542_00 {
    width: 48px;
    height: 48px;
    background-position: -5px -237px;
}

.g5v1-sprite-og-543_00 {
    width: 48px;
    height: 48px;
    background-position: -63px -237px;
}

.g5v1-sprite-og-544_00 {
    width: 48px;
    height: 48px;
    background-position: -121px -237px;
}

.g5v1-sprite-og-545_00 {
    width: 48px;
    height: 48px;
    background-position: -179px -237px;
}

.g5v1-sprite-og-546_00 {
    width: 48px;
    height: 48px;
    background-position: -237px -237px;
}

.g5v1-sprite-og-547_00 {
    width: 48px;
    height: 48px;
    background-position: -295px -237px;
}

.g5v1-sprite-og-548_00 {
    width: 48px;
    height: 48px;
    background-position: -353px -237px;
}

.g5v1-sprite-og-549_00 {
    width: 48px;
    height: 48px;
    background-position: -411px -237px;
}

.g5v1-sprite-og-550_00 {
    width: 48px;
    height: 48px;
    background-position: -469px -237px;
}

.g5v1-sprite-og-551_00 {
    width: 48px;
    height: 48px;
    background-position: -527px -237px;
}

.g5v1-sprite-og-552_00 {
    width: 48px;
    height: 48px;
    background-position: -585px -237px;
}

.g5v1-sprite-og-553_00 {
    width: 48px;
    height: 48px;
    background-position: -643px -237px;
}

.g5v1-sprite-og-554_00 {
    width: 48px;
    height: 48px;
    background-position: -5px -295px;
}

.g5v1-sprite-og-555_00 {
    width: 48px;
    height: 48px;
    background-position: -63px -295px;
}

.g5v1-sprite-og-556_00 {
    width: 48px;
    height: 48px;
    background-position: -121px -295px;
}

.g5v1-sprite-og-557_00 {
    width: 48px;
    height: 48px;
    background-position: -179px -295px;
}

.g5v1-sprite-og-558_00 {
    width: 48px;
    height: 48px;
    background-position: -237px -295px;
}

.g5v1-sprite-og-559_00 {
    width: 48px;
    height: 48px;
    background-position: -295px -295px;
}

.g5v1-sprite-og-560_00 {
    width: 48px;
    height: 48px;
    background-position: -353px -295px;
}

.g5v1-sprite-og-561_00 {
    width: 48px;
    height: 48px;
    background-position: -411px -295px;
}

.g5v1-sprite-og-562_00 {
    width: 48px;
    height: 48px;
    background-position: -469px -295px;
}

.g5v1-sprite-og-563_00 {
    width: 48px;
    height: 48px;
    background-position: -527px -295px;
}

.g5v1-sprite-og-564_00 {
    width: 48px;
    height: 48px;
    background-position: -585px -295px;
}

.g5v1-sprite-og-565_00 {
    width: 48px;
    height: 48px;
    background-position: -643px -295px;
}

.g5v1-sprite-og-566_00 {
    width: 48px;
    height: 48px;
    background-position: -5px -353px;
}

.g5v1-sprite-og-567_00 {
    width: 48px;
    height: 48px;
    background-position: -63px -353px;
}

.g5v1-sprite-og-568_00 {
    width: 48px;
    height: 48px;
    background-position: -121px -353px;
}

.g5v1-sprite-og-569_00 {
    width: 48px;
    height: 48px;
    background-position: -179px -353px;
}

.g5v1-sprite-og-570_00 {
    width: 48px;
    height: 48px;
    background-position: -237px -353px;
}

.g5v1-sprite-og-571_00 {
    width: 48px;
    height: 48px;
    background-position: -295px -353px;
}

.g5v1-sprite-og-572_00 {
    width: 48px;
    height: 48px;
    background-position: -353px -353px;
}

.g5v1-sprite-og-573_00 {
    width: 48px;
    height: 48px;
    background-position: -411px -353px;
}

.g5v1-sprite-og-574_00 {
    width: 48px;
    height: 48px;
    background-position: -469px -353px;
}

.g5v1-sprite-og-575_00 {
    width: 48px;
    height: 48px;
    background-position: -527px -353px;
}

.g5v1-sprite-og-576_00 {
    width: 48px;
    height: 48px;
    background-position: -585px -353px;
}

.g5v1-sprite-og-577_00 {
    width: 48px;
    height: 48px;
    background-position: -643px -353px;
}

.g5v1-sprite-og-578_00 {
    width: 48px;
    height: 48px;
    background-position: -5px -411px;
}

.g5v1-sprite-og-579_00 {
    width: 48px;
    height: 48px;
    background-position: -63px -411px;
}

.g5v1-sprite-og-580_00 {
    width: 48px;
    height: 48px;
    background-position: -121px -411px;
}

.g5v1-sprite-og-581_00 {
    width: 48px;
    height: 48px;
    background-position: -179px -411px;
}

.g5v1-sprite-og-582_00 {
    width: 48px;
    height: 48px;
    background-position: -237px -411px;
}

.g5v1-sprite-og-583_00 {
    width: 48px;
    height: 48px;
    background-position: -295px -411px;
}

.g5v1-sprite-og-584_00 {
    width: 48px;
    height: 48px;
    background-position: -353px -411px;
}

.g5v1-sprite-og-585_00 {
    width: 48px;
    height: 48px;
    background-position: -411px -411px;
}

.g5v1-sprite-og-586_00 {
    width: 48px;
    height: 48px;
    background-position: -469px -411px;
}

.g5v1-sprite-og-587_00 {
    width: 48px;
    height: 48px;
    background-position: -527px -411px;
}

.g5v1-sprite-og-588_00 {
    width: 48px;
    height: 48px;
    background-position: -585px -411px;
}

.g5v1-sprite-og-589_00 {
    width: 48px;
    height: 48px;
    background-position: -643px -411px;
}

.g5v1-sprite-og-590_00 {
    width: 48px;
    height: 48px;
    background-position: -5px -469px;
}

.g5v1-sprite-og-591_00 {
    width: 48px;
    height: 48px;
    background-position: -63px -469px;
}

.g5v1-sprite-og-592_00 {
    width: 48px;
    height: 48px;
    background-position: -121px -469px;
}

.g5v1-sprite-og-593_00 {
    width: 48px;
    height: 48px;
    background-position: -179px -469px;
}

.g5v1-sprite-og-594_00 {
    width: 48px;
    height: 48px;
    background-position: -237px -469px;
}

.g5v1-sprite-og-595_00 {
    width: 48px;
    height: 48px;
    background-position: -295px -469px;
}

.g5v1-sprite-og-596_00 {
    width: 48px;
    height: 48px;
    background-position: -353px -469px;
}

.g5v1-sprite-og-597_00 {
    width: 48px;
    height: 48px;
    background-position: -411px -469px;
}

.g5v1-sprite-og-598_00 {
    width: 48px;
    height: 48px;
    background-position: -469px -469px;
}

.g5v1-sprite-og-599_00 {
    width: 48px;
    height: 48px;
    background-position: -527px -469px;
}

.g5v1-sprite-og-600_00 {
    width: 48px;
    height: 48px;
    background-position: -585px -469px;
}

.g5v1-sprite-og-601_00 {
    width: 48px;
    height: 48px;
    background-position: -643px -469px;
}

.g5v1-sprite-og-602_00 {
    width: 48px;
    height: 48px;
    background-position: -5px -527px;
}

.g5v1-sprite-og-603_00 {
    width: 48px;
    height: 48px;
    background-position: -63px -527px;
}

.g5v1-sprite-og-604_00 {
    width: 48px;
    height: 48px;
    background-position: -121px -527px;
}

.g5v1-sprite-og-605_00 {
    width: 48px;
    height: 48px;
    background-position: -179px -527px;
}

.g5v1-sprite-og-606_00 {
    width: 48px;
    height: 48px;
    background-position: -237px -527px;
}

.g5v1-sprite-og-607_00 {
    width: 48px;
    height: 48px;
    background-position: -295px -527px;
}

.g5v1-sprite-og-608_00 {
    width: 48px;
    height: 48px;
    background-position: -353px -527px;
}

.g5v1-sprite-og-609_00 {
    width: 48px;
    height: 48px;
    background-position: -411px -527px;
}

.g5v1-sprite-og-610_00 {
    width: 48px;
    height: 48px;
    background-position: -469px -527px;
}

.g5v1-sprite-og-611_00 {
    width: 48px;
    height: 48px;
    background-position: -527px -527px;
}

.g5v1-sprite-og-612_00 {
    width: 48px;
    height: 48px;
    background-position: -585px -527px;
}

.g5v1-sprite-og-613_00 {
    width: 48px;
    height: 48px;
    background-position: -643px -527px;
}

.g5v1-sprite-og-614_00 {
    width: 48px;
    height: 48px;
    background-position: -5px -585px;
}

.g5v1-sprite-og-615_00 {
    width: 48px;
    height: 48px;
    background-position: -63px -585px;
}

.g5v1-sprite-og-616_00 {
    width: 48px;
    height: 48px;
    background-position: -121px -585px;
}

.g5v1-sprite-og-617_00 {
    width: 48px;
    height: 48px;
    background-position: -179px -585px;
}

.g5v1-sprite-og-618_00 {
    width: 48px;
    height: 48px;
    background-position: -237px -585px;
}

.g5v1-sprite-og-619_00 {
    width: 48px;
    height: 48px;
    background-position: -295px -585px;
}

.g5v1-sprite-og-620_00 {
    width: 48px;
    height: 48px;
    background-position: -353px -585px;
}

.g5v1-sprite-og-621_00 {
    width: 48px;
    height: 48px;
    background-position: -411px -585px;
}

.g5v1-sprite-og-622_00 {
    width: 48px;
    height: 48px;
    background-position: -469px -585px;
}

.g5v1-sprite-og-623_00 {
    width: 48px;
    height: 48px;
    background-position: -527px -585px;
}

.g5v1-sprite-og-624_00 {
    width: 48px;
    height: 48px;
    background-position: -585px -585px;
}

.g5v1-sprite-og-625_00 {
    width: 48px;
    height: 48px;
    background-position: -643px -585px;
}

.g5v1-sprite-og-626_00 {
    width: 48px;
    height: 48px;
    background-position: -5px -643px;
}

.g5v1-sprite-og-627_00 {
    width: 48px;
    height: 48px;
    background-position: -63px -643px;
}

.g5v1-sprite-og-628_00 {
    width: 48px;
    height: 48px;
    background-position: -121px -643px;
}

.g5v1-sprite-og-629_00 {
    width: 48px;
    height: 48px;
    background-position: -179px -643px;
}

.g5v1-sprite-og-630_00 {
    width: 48px;
    height: 48px;
    background-position: -237px -643px;
}

.g5v1-sprite-og-631_00 {
    width: 48px;
    height: 48px;
    background-position: -295px -643px;
}

.g5v1-sprite-og-632_00 {
    width: 48px;
    height: 48px;
    background-position: -353px -643px;
}

.g5v1-sprite-og-633_00 {
    width: 48px;
    height: 48px;
    background-position: -411px -643px;
}

.g5v1-sprite-og-634_00 {
    width: 48px;
    height: 48px;
    background-position: -469px -643px;
}

.g5v1-sprite-og-635_00 {
    width: 48px;
    height: 48px;
    background-position: -527px -643px;
}

.g5v1-sprite-og-636_00 {
    width: 48px;
    height: 48px;
    background-position: -585px -643px;
}

.g5v1-sprite-og-637_00 {
    width: 48px;
    height: 48px;
    background-position: -643px -643px;
}

.g5v1-sprite-og-638_00 {
    width: 48px;
    height: 48px;
    background-position: -701px -5px;
}

.g5v1-sprite-og-639_00 {
    width: 48px;
    height: 48px;
    background-position: -701px -63px;
}

.g5v1-sprite-og-640_00 {
    width: 48px;
    height: 48px;
    background-position: -701px -121px;
}

.g5v1-sprite-og-641_00 {
    width: 48px;
    height: 48px;
    background-position: -701px -179px;
}

.g5v1-sprite-og-642_00 {
    width: 48px;
    height: 48px;
    background-position: -701px -237px;
}

.g5v1-sprite-og-643_00 {
    width: 48px;
    height: 48px;
    background-position: -701px -295px;
}

.g5v1-sprite-og-644_00 {
    width: 48px;
    height: 48px;
    background-position: -701px -353px;
}

.g5v1-sprite-og-645_00 {
    width: 48px;
    height: 48px;
    background-position: -701px -411px;
}

.g5v1-sprite-og-646_00 {
    width: 48px;
    height: 48px;
    background-position: -701px -469px;
}

.g5v1-sprite-og-647_00 {
    width: 48px;
    height: 48px;
    background-position: -701px -527px;
}

.g5v1-sprite-og-648_00 {
    width: 48px;
    height: 48px;
    background-position: -701px -585px;
}

.g5v1-sprite-og-649_00 {
    width: 48px;
    height: 48px;
    background-position: -701px -643px;
}
