.g4v2-sprite-shiny span {
    background-image: url(../img/spritesheet_medium_g4v2_shiny.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.g4v2-sprite-shiny span {
    float: left;
    position: relative;
    top: -15px;
    left: -10px;
}

.g4v2-sprite-shiny-387_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -5px;
}

.g4v2-sprite-shiny-388_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -5px;
}

.g4v2-sprite-shiny-389_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -5px;
}

.g4v2-sprite-shiny-390_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -5px;
}

.g4v2-sprite-shiny-391_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -5px;
}

.g4v2-sprite-shiny-392_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -5px;
}

.g4v2-sprite-shiny-393_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -5px;
}

.g4v2-sprite-shiny-394_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -5px;
}

.g4v2-sprite-shiny-395_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -5px;
}

.g4v2-sprite-shiny-396_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -5px;
}

.g4v2-sprite-shiny-396_01 {
    width: 72px;
    height: 72px;
    background-position: -825px -5px;
}

.g4v2-sprite-shiny-397_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -5px;
}

.g4v2-sprite-shiny-397_01 {
    width: 72px;
    height: 72px;
    background-position: -5px -87px;
}

.g4v2-sprite-shiny-398_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -87px;
}

.g4v2-sprite-shiny-398_01 {
    width: 72px;
    height: 72px;
    background-position: -169px -87px;
}

.g4v2-sprite-shiny-399_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -87px;
}

.g4v2-sprite-shiny-399_01 {
    width: 72px;
    height: 72px;
    background-position: -333px -87px;
}

.g4v2-sprite-shiny-400_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -87px;
}

.g4v2-sprite-shiny-400_01 {
    width: 72px;
    height: 72px;
    background-position: -497px -87px;
}

.g4v2-sprite-shiny-401_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -87px;
}

.g4v2-sprite-shiny-401_01 {
    width: 72px;
    height: 72px;
    background-position: -661px -87px;
}

.g4v2-sprite-shiny-402_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -87px;
}

.g4v2-sprite-shiny-402_01 {
    width: 72px;
    height: 72px;
    background-position: -825px -87px;
}

.g4v2-sprite-shiny-403_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -87px;
}

.g4v2-sprite-shiny-403_01 {
    width: 72px;
    height: 72px;
    background-position: -5px -169px;
}

.g4v2-sprite-shiny-404_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -169px;
}

.g4v2-sprite-shiny-404_01 {
    width: 72px;
    height: 72px;
    background-position: -169px -169px;
}

.g4v2-sprite-shiny-405_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -169px;
}

.g4v2-sprite-shiny-405_01 {
    width: 72px;
    height: 72px;
    background-position: -333px -169px;
}

.g4v2-sprite-shiny-406_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -169px;
}

.g4v2-sprite-shiny-407_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -169px;
}

.g4v2-sprite-shiny-407_01 {
    width: 72px;
    height: 72px;
    background-position: -579px -169px;
}

.g4v2-sprite-shiny-408_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -169px;
}

.g4v2-sprite-shiny-409_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -169px;
}

.g4v2-sprite-shiny-410_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -169px;
}

.g4v2-sprite-shiny-411_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -169px;
}

.g4v2-sprite-shiny-413_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -251px;
}

.g4v2-sprite-shiny-413_11 {
    width: 72px;
    height: 72px;
    background-position: -87px -251px;
}

.g4v2-sprite-shiny-413_12 {
    width: 72px;
    height: 72px;
    background-position: -169px -251px;
}

.g4v2-sprite-shiny-413_13 {
    width: 72px;
    height: 72px;
    background-position: -251px -251px;
}

.g4v2-sprite-shiny-414_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -251px;
}

.g4v2-sprite-shiny-415_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -251px;
}

.g4v2-sprite-shiny-415_01 {
    width: 72px;
    height: 72px;
    background-position: -497px -251px;
}

.g4v2-sprite-shiny-416_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -251px;
}

.g4v2-sprite-shiny-417_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -251px;
}

.g4v2-sprite-shiny-417_01 {
    width: 72px;
    height: 72px;
    background-position: -743px -251px;
}

.g4v2-sprite-shiny-418_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -251px;
}

.g4v2-sprite-shiny-418_01 {
    width: 72px;
    height: 72px;
    background-position: -907px -251px;
}

.g4v2-sprite-shiny-419_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -333px;
}

.g4v2-sprite-shiny-419_01 {
    width: 72px;
    height: 72px;
    background-position: -87px -333px;
}

.g4v2-sprite-shiny-420_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -333px;
}

.g4v2-sprite-shiny-421_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -333px;
}

.g4v2-sprite-shiny-421_11 {
    width: 72px;
    height: 72px;
    background-position: -333px -333px;
}

.g4v2-sprite-shiny-421_12 {
    width: 72px;
    height: 72px;
    background-position: -415px -333px;
}

.g4v2-sprite-shiny-422_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -333px;
}

.g4v2-sprite-shiny-422_11 {
    width: 72px;
    height: 72px;
    background-position: -579px -333px;
}

.g4v2-sprite-shiny-422_12 {
    width: 72px;
    height: 72px;
    background-position: -661px -333px;
}

.g4v2-sprite-shiny-423_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -333px;
}

.g4v2-sprite-shiny-423_11 {
    width: 72px;
    height: 72px;
    background-position: -825px -333px;
}

.g4v2-sprite-shiny-423_12 {
    width: 72px;
    height: 72px;
    background-position: -907px -333px;
}

.g4v2-sprite-shiny-424_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -415px;
}

.g4v2-sprite-shiny-424_01 {
    width: 72px;
    height: 72px;
    background-position: -87px -415px;
}

.g4v2-sprite-shiny-425_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -415px;
}

.g4v2-sprite-shiny-426_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -415px;
}

.g4v2-sprite-shiny-427_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -415px;
}

.g4v2-sprite-shiny-428_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -415px;
}

.g4v2-sprite-shiny-429_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -415px;
}

.g4v2-sprite-shiny-430_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -415px;
}

.g4v2-sprite-shiny-431_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -415px;
}

.g4v2-sprite-shiny-432_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -415px;
}

.g4v2-sprite-shiny-433_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -415px;
}

.g4v2-sprite-shiny-434_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -415px;
}

.g4v2-sprite-shiny-435_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -497px;
}

.g4v2-sprite-shiny-436_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -497px;
}

.g4v2-sprite-shiny-437_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -497px;
}

.g4v2-sprite-shiny-438_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -497px;
}

.g4v2-sprite-shiny-439_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -497px;
}

.g4v2-sprite-shiny-440_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -497px;
}

.g4v2-sprite-shiny-441_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -497px;
}

.g4v2-sprite-shiny-442_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -497px;
}

.g4v2-sprite-shiny-443_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -497px;
}

.g4v2-sprite-shiny-443_01 {
    width: 72px;
    height: 72px;
    background-position: -743px -497px;
}

.g4v2-sprite-shiny-444_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -497px;
}

.g4v2-sprite-shiny-444_01 {
    width: 72px;
    height: 72px;
    background-position: -907px -497px;
}

.g4v2-sprite-shiny-445_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -579px;
}

.g4v2-sprite-shiny-445_01 {
    width: 72px;
    height: 72px;
    background-position: -87px -579px;
}

.g4v2-sprite-shiny-446_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -579px;
}

.g4v2-sprite-shiny-447_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -579px;
}

.g4v2-sprite-shiny-448_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -579px;
}

.g4v2-sprite-shiny-451_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -579px;
}

.g4v2-sprite-shiny-452_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -579px;
}

.g4v2-sprite-shiny-453_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -579px;
}

.g4v2-sprite-shiny-453_01 {
    width: 72px;
    height: 72px;
    background-position: -661px -579px;
}

.g4v2-sprite-shiny-454_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -579px;
}

.g4v2-sprite-shiny-454_01 {
    width: 72px;
    height: 72px;
    background-position: -825px -579px;
}

.g4v2-sprite-shiny-455_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -579px;
}

.g4v2-sprite-shiny-456_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -661px;
}

.g4v2-sprite-shiny-456_01 {
    width: 72px;
    height: 72px;
    background-position: -87px -661px;
}

.g4v2-sprite-shiny-457_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -661px;
}

.g4v2-sprite-shiny-457_01 {
    width: 72px;
    height: 72px;
    background-position: -251px -661px;
}

.g4v2-sprite-shiny-458_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -661px;
}

.g4v2-sprite-shiny-459_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -661px;
}

.g4v2-sprite-shiny-459_01 {
    width: 72px;
    height: 72px;
    background-position: -497px -661px;
}

.g4v2-sprite-shiny-460_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -661px;
}

.g4v2-sprite-shiny-460_01 {
    width: 72px;
    height: 72px;
    background-position: -661px -661px;
}

.g4v2-sprite-shiny-461_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -661px;
}

.g4v2-sprite-shiny-461_01 {
    width: 72px;
    height: 72px;
    background-position: -825px -661px;
}

.g4v2-sprite-shiny-462_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -661px;
}

.g4v2-sprite-shiny-463_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -743px;
}

.g4v2-sprite-shiny-464_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -743px;
}

.g4v2-sprite-shiny-464_01 {
    width: 72px;
    height: 72px;
    background-position: -169px -743px;
}

.g4v2-sprite-shiny-465_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -743px;
}

.g4v2-sprite-shiny-465_01 {
    width: 72px;
    height: 72px;
    background-position: -333px -743px;
}

.g4v2-sprite-shiny-466_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -743px;
}

.g4v2-sprite-shiny-467_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -743px;
}

.g4v2-sprite-shiny-468_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -743px;
}

.g4v2-sprite-shiny-469_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -743px;
}

.g4v2-sprite-shiny-470_00_07 {
    width: 72px;
    height: 72px;
    background-position: -743px -743px;
}

.g4v2-sprite-shiny-470_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -743px;
}

.g4v2-sprite-shiny-471_00_07 {
    width: 72px;
    height: 72px;
    background-position: -907px -743px;
}

.g4v2-sprite-shiny-471_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -825px;
}

.g4v2-sprite-shiny-472_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -825px;
}

.g4v2-sprite-shiny-473_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -825px;
}

.g4v2-sprite-shiny-473_01 {
    width: 72px;
    height: 72px;
    background-position: -251px -825px;
}

.g4v2-sprite-shiny-474_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -825px;
}

.g4v2-sprite-shiny-475_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -825px;
}

.g4v2-sprite-shiny-476_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -825px;
}

.g4v2-sprite-shiny-477_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -825px;
}

.g4v2-sprite-shiny-478_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -825px;
}

.g4v2-sprite-shiny-480_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -825px;
}

.g4v2-sprite-shiny-481_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -825px;
}

.g4v2-sprite-shiny-482_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -825px;
}

.g4v2-sprite-shiny-483_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -907px;
}

.g4v2-sprite-shiny-484_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -907px;
}

.g4v2-sprite-shiny-485_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -907px;
}

.g4v2-sprite-shiny-486_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -907px;
}

.g4v2-sprite-shiny-487_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -907px;
}

.g4v2-sprite-shiny-487_11 {
    width: 72px;
    height: 72px;
    background-position: -415px -907px;
}

.g4v2-sprite-shiny-487_12 {
    width: 72px;
    height: 72px;
    background-position: -497px -907px;
}

.g4v2-sprite-shiny-488_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -907px;
}

.g4v2-sprite-shiny-489_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -907px;
}

.g4v2-sprite-shiny-491_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -907px;
}

.g4v2-sprite-shiny-492_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -907px;
}

.g4v2-sprite-shiny-492_11 {
    width: 72px;
    height: 72px;
    background-position: -907px -907px;
}

.g4v2-sprite-shiny-492_12 {
    width: 72px;
    height: 72px;
    background-position: -989px -5px;
}
