.g7v1-sprite-cart span {
    background-image: url(../img/spritesheet_medium_g7v1_cart.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.g7v1-sprite-cart span {
    float: left;
}

.g7v1-sprite-cart-722_00 {
    width: 72px;
    height: 72px;
    background-position: 0 0;
}

.g7v1-sprite-cart-723_00 {
    width: 72px;
    height: 72px;
    background-position: -72px 0;
}

.g7v1-sprite-cart-724_00 {
    width: 72px;
    height: 72px;
    background-position: -144px 0;
}

.g7v1-sprite-cart-725_00 {
    width: 72px;
    height: 72px;
    background-position: -216px 0;
}

.g7v1-sprite-cart-726_00 {
    width: 72px;
    height: 72px;
    background-position: -288px 0;
}

.g7v1-sprite-cart-727_00 {
    width: 72px;
    height: 72px;
    background-position: -360px 0;
}

.g7v1-sprite-cart-728_00 {
    width: 72px;
    height: 72px;
    background-position: -432px 0;
}

.g7v1-sprite-cart-729_00 {
    width: 72px;
    height: 72px;
    background-position: -504px 0;
}

.g7v1-sprite-cart-730_00 {
    width: 72px;
    height: 72px;
    background-position: -576px 0;
}

.g7v1-sprite-cart-731_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -72px;
}

.g7v1-sprite-cart-732_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -72px;
}

.g7v1-sprite-cart-733_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -72px;
}

.g7v1-sprite-cart-734_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -72px;
}

.g7v1-sprite-cart-735_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -72px;
}

.g7v1-sprite-cart-736_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -72px;
}

.g7v1-sprite-cart-737_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -72px;
}

.g7v1-sprite-cart-738_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -72px;
}

.g7v1-sprite-cart-739_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -72px;
}

.g7v1-sprite-cart-740_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -144px;
}

.g7v1-sprite-cart-741_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -144px;
}

.g7v1-sprite-cart-742_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -144px;
}

.g7v1-sprite-cart-743_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -144px;
}

.g7v1-sprite-cart-744_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -144px;
}

.g7v1-sprite-cart-745_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -144px;
}

.g7v1-sprite-cart-746_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -144px;
}

.g7v1-sprite-cart-747_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -144px;
}

.g7v1-sprite-cart-748_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -144px;
}

.g7v1-sprite-cart-749_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -216px;
}

.g7v1-sprite-cart-750_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -216px;
}

.g7v1-sprite-cart-751_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -216px;
}

.g7v1-sprite-cart-752_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -216px;
}

.g7v1-sprite-cart-753_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -216px;
}

.g7v1-sprite-cart-754_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -216px;
}

.g7v1-sprite-cart-755_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -216px;
}

.g7v1-sprite-cart-756_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -216px;
}

.g7v1-sprite-cart-757_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -216px;
}

.g7v1-sprite-cart-758_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -288px;
}

.g7v1-sprite-cart-759_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -288px;
}

.g7v1-sprite-cart-760_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -288px;
}

.g7v1-sprite-cart-761_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -288px;
}

.g7v1-sprite-cart-762_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -288px;
}

.g7v1-sprite-cart-763_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -288px;
}

.g7v1-sprite-cart-764_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -288px;
}

.g7v1-sprite-cart-765_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -288px;
}

.g7v1-sprite-cart-766_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -288px;
}

.g7v1-sprite-cart-767_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -360px;
}

.g7v1-sprite-cart-768_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -360px;
}

.g7v1-sprite-cart-769_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -360px;
}

.g7v1-sprite-cart-770_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -360px;
}

.g7v1-sprite-cart-771_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -360px;
}

.g7v1-sprite-cart-772_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -360px;
}

.g7v1-sprite-cart-773_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -360px;
}

.g7v1-sprite-cart-774_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -360px;
}

.g7v1-sprite-cart-775_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -360px;
}

.g7v1-sprite-cart-776_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -432px;
}

.g7v1-sprite-cart-777_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -432px;
}

.g7v1-sprite-cart-778_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -432px;
}

.g7v1-sprite-cart-779_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -432px;
}

.g7v1-sprite-cart-780_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -432px;
}

.g7v1-sprite-cart-781_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -432px;
}

.g7v1-sprite-cart-782_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -432px;
}

.g7v1-sprite-cart-783_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -432px;
}

.g7v1-sprite-cart-784_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -432px;
}

.g7v1-sprite-cart-785_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -504px;
}

.g7v1-sprite-cart-786_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -504px;
}

.g7v1-sprite-cart-787_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -504px;
}

.g7v1-sprite-cart-788_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -504px;
}

.g7v1-sprite-cart-789_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -504px;
}

.g7v1-sprite-cart-790_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -504px;
}

.g7v1-sprite-cart-791_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -504px;
}

.g7v1-sprite-cart-792_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -504px;
}

.g7v1-sprite-cart-793_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -504px;
}

.g7v1-sprite-cart-794_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -576px;
}

.g7v1-sprite-cart-795_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -576px;
}

.g7v1-sprite-cart-796_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -576px;
}

.g7v1-sprite-cart-797_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -576px;
}

.g7v1-sprite-cart-798_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -576px;
}

.g7v1-sprite-cart-799_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -576px;
}

.g7v1-sprite-cart-800_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -576px;
}

.g7v1-sprite-cart-801_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -576px;
}

.g7v1-sprite-cart-802_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -576px;
}

.g7v1-sprite-cart-803_00 {
    width: 72px;
    height: 72px;
    background-position: -648px 0;
}

.g7v1-sprite-cart-804_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -72px;
}

.g7v1-sprite-cart-805_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -144px;
}

.g7v1-sprite-cart-806_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -216px;
}

.g7v1-sprite-cart-807_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -288px;
}

.g7v1-sprite-cart-808_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -360px;
}

.g7v1-sprite-cart-809_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -432px;
}
