.g3v1-sprite-cart span {
    background-image: url(../img/spritesheet_medium_g3v1_cart.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.g3v1-sprite-cart span {
    float: left;
}

.g3v1-sprite-cart-252 {
    width: 48px;
    height: 48px;
    background-position: -5px -5px;
}

.g3v1-sprite-cart-253 {
    width: 48px;
    height: 48px;
    background-position: -63px -5px;
}

.g3v1-sprite-cart-254 {
    width: 48px;
    height: 48px;
    background-position: -121px -5px;
}

.g3v1-sprite-cart-255 {
    width: 48px;
    height: 48px;
    background-position: -179px -5px;
}

.g3v1-sprite-cart-256 {
    width: 48px;
    height: 48px;
    background-position: -237px -5px;
}

.g3v1-sprite-cart-257 {
    width: 48px;
    height: 48px;
    background-position: -295px -5px;
}

.g3v1-sprite-cart-258 {
    width: 48px;
    height: 48px;
    background-position: -353px -5px;
}

.g3v1-sprite-cart-259 {
    width: 48px;
    height: 48px;
    background-position: -411px -5px;
}

.g3v1-sprite-cart-260 {
    width: 48px;
    height: 48px;
    background-position: -469px -5px;
}

.g3v1-sprite-cart-261 {
    width: 48px;
    height: 48px;
    background-position: -527px -5px;
}

.g3v1-sprite-cart-262 {
    width: 48px;
    height: 48px;
    background-position: -585px -5px;
}

.g3v1-sprite-cart-263 {
    width: 48px;
    height: 48px;
    background-position: -5px -63px;
}

.g3v1-sprite-cart-264 {
    width: 48px;
    height: 48px;
    background-position: -63px -63px;
}

.g3v1-sprite-cart-265 {
    width: 48px;
    height: 48px;
    background-position: -121px -63px;
}

.g3v1-sprite-cart-266 {
    width: 48px;
    height: 48px;
    background-position: -179px -63px;
}

.g3v1-sprite-cart-267 {
    width: 48px;
    height: 48px;
    background-position: -237px -63px;
}

.g3v1-sprite-cart-268 {
    width: 48px;
    height: 48px;
    background-position: -295px -63px;
}

.g3v1-sprite-cart-269 {
    width: 48px;
    height: 48px;
    background-position: -353px -63px;
}

.g3v1-sprite-cart-270 {
    width: 48px;
    height: 48px;
    background-position: -411px -63px;
}

.g3v1-sprite-cart-271 {
    width: 48px;
    height: 48px;
    background-position: -469px -63px;
}

.g3v1-sprite-cart-272 {
    width: 48px;
    height: 48px;
    background-position: -527px -63px;
}

.g3v1-sprite-cart-273 {
    width: 48px;
    height: 48px;
    background-position: -585px -63px;
}

.g3v1-sprite-cart-274 {
    width: 48px;
    height: 48px;
    background-position: -5px -121px;
}

.g3v1-sprite-cart-275 {
    width: 48px;
    height: 48px;
    background-position: -63px -121px;
}

.g3v1-sprite-cart-276 {
    width: 48px;
    height: 48px;
    background-position: -121px -121px;
}

.g3v1-sprite-cart-277 {
    width: 48px;
    height: 48px;
    background-position: -179px -121px;
}

.g3v1-sprite-cart-278 {
    width: 48px;
    height: 48px;
    background-position: -237px -121px;
}

.g3v1-sprite-cart-279 {
    width: 48px;
    height: 48px;
    background-position: -295px -121px;
}

.g3v1-sprite-cart-280 {
    width: 48px;
    height: 48px;
    background-position: -353px -121px;
}

.g3v1-sprite-cart-281 {
    width: 48px;
    height: 48px;
    background-position: -411px -121px;
}

.g3v1-sprite-cart-282 {
    width: 48px;
    height: 48px;
    background-position: -469px -121px;
}

.g3v1-sprite-cart-283 {
    width: 48px;
    height: 48px;
    background-position: -527px -121px;
}

.g3v1-sprite-cart-284 {
    width: 48px;
    height: 48px;
    background-position: -585px -121px;
}

.g3v1-sprite-cart-285 {
    width: 48px;
    height: 48px;
    background-position: -5px -179px;
}

.g3v1-sprite-cart-286 {
    width: 48px;
    height: 48px;
    background-position: -63px -179px;
}

.g3v1-sprite-cart-287 {
    width: 48px;
    height: 48px;
    background-position: -121px -179px;
}

.g3v1-sprite-cart-288 {
    width: 48px;
    height: 48px;
    background-position: -179px -179px;
}

.g3v1-sprite-cart-289 {
    width: 48px;
    height: 48px;
    background-position: -237px -179px;
}

.g3v1-sprite-cart-290 {
    width: 48px;
    height: 48px;
    background-position: -295px -179px;
}

.g3v1-sprite-cart-291 {
    width: 48px;
    height: 48px;
    background-position: -353px -179px;
}

.g3v1-sprite-cart-292 {
    width: 48px;
    height: 48px;
    background-position: -411px -179px;
}

.g3v1-sprite-cart-293 {
    width: 48px;
    height: 48px;
    background-position: -469px -179px;
}

.g3v1-sprite-cart-294 {
    width: 48px;
    height: 48px;
    background-position: -527px -179px;
}

.g3v1-sprite-cart-295 {
    width: 48px;
    height: 48px;
    background-position: -585px -179px;
}

.g3v1-sprite-cart-296 {
    width: 48px;
    height: 48px;
    background-position: -5px -237px;
}

.g3v1-sprite-cart-297 {
    width: 48px;
    height: 48px;
    background-position: -63px -237px;
}

.g3v1-sprite-cart-298 {
    width: 48px;
    height: 48px;
    background-position: -121px -237px;
}

.g3v1-sprite-cart-299 {
    width: 48px;
    height: 48px;
    background-position: -179px -237px;
}

.g3v1-sprite-cart-300 {
    width: 48px;
    height: 48px;
    background-position: -237px -237px;
}

.g3v1-sprite-cart-301 {
    width: 48px;
    height: 48px;
    background-position: -295px -237px;
}

.g3v1-sprite-cart-302 {
    width: 48px;
    height: 48px;
    background-position: -353px -237px;
}

.g3v1-sprite-cart-303 {
    width: 48px;
    height: 48px;
    background-position: -411px -237px;
}

.g3v1-sprite-cart-304 {
    width: 48px;
    height: 48px;
    background-position: -469px -237px;
}

.g3v1-sprite-cart-305 {
    width: 48px;
    height: 48px;
    background-position: -527px -237px;
}

.g3v1-sprite-cart-306 {
    width: 48px;
    height: 48px;
    background-position: -585px -237px;
}

.g3v1-sprite-cart-307 {
    width: 48px;
    height: 48px;
    background-position: -5px -295px;
}

.g3v1-sprite-cart-308 {
    width: 48px;
    height: 48px;
    background-position: -63px -295px;
}

.g3v1-sprite-cart-309 {
    width: 48px;
    height: 48px;
    background-position: -121px -295px;
}

.g3v1-sprite-cart-310 {
    width: 48px;
    height: 48px;
    background-position: -179px -295px;
}

.g3v1-sprite-cart-311 {
    width: 48px;
    height: 48px;
    background-position: -237px -295px;
}

.g3v1-sprite-cart-312 {
    width: 48px;
    height: 48px;
    background-position: -295px -295px;
}

.g3v1-sprite-cart-313 {
    width: 48px;
    height: 48px;
    background-position: -353px -295px;
}

.g3v1-sprite-cart-314 {
    width: 48px;
    height: 48px;
    background-position: -411px -295px;
}

.g3v1-sprite-cart-315 {
    width: 48px;
    height: 48px;
    background-position: -469px -295px;
}

.g3v1-sprite-cart-316 {
    width: 48px;
    height: 48px;
    background-position: -527px -295px;
}

.g3v1-sprite-cart-317 {
    width: 48px;
    height: 48px;
    background-position: -585px -295px;
}

.g3v1-sprite-cart-318 {
    width: 48px;
    height: 48px;
    background-position: -5px -353px;
}

.g3v1-sprite-cart-319 {
    width: 48px;
    height: 48px;
    background-position: -63px -353px;
}

.g3v1-sprite-cart-320 {
    width: 48px;
    height: 48px;
    background-position: -121px -353px;
}

.g3v1-sprite-cart-321 {
    width: 48px;
    height: 48px;
    background-position: -179px -353px;
}

.g3v1-sprite-cart-322 {
    width: 48px;
    height: 48px;
    background-position: -237px -353px;
}

.g3v1-sprite-cart-323 {
    width: 48px;
    height: 48px;
    background-position: -295px -353px;
}

.g3v1-sprite-cart-324 {
    width: 48px;
    height: 48px;
    background-position: -353px -353px;
}

.g3v1-sprite-cart-325 {
    width: 48px;
    height: 48px;
    background-position: -411px -353px;
}

.g3v1-sprite-cart-326 {
    width: 48px;
    height: 48px;
    background-position: -469px -353px;
}

.g3v1-sprite-cart-327 {
    width: 48px;
    height: 48px;
    background-position: -527px -353px;
}

.g3v1-sprite-cart-328 {
    width: 48px;
    height: 48px;
    background-position: -585px -353px;
}

.g3v1-sprite-cart-329 {
    width: 48px;
    height: 48px;
    background-position: -5px -411px;
}

.g3v1-sprite-cart-330 {
    width: 48px;
    height: 48px;
    background-position: -63px -411px;
}

.g3v1-sprite-cart-331 {
    width: 48px;
    height: 48px;
    background-position: -121px -411px;
}

.g3v1-sprite-cart-332 {
    width: 48px;
    height: 48px;
    background-position: -179px -411px;
}

.g3v1-sprite-cart-333 {
    width: 48px;
    height: 48px;
    background-position: -237px -411px;
}

.g3v1-sprite-cart-334 {
    width: 48px;
    height: 48px;
    background-position: -295px -411px;
}

.g3v1-sprite-cart-335 {
    width: 48px;
    height: 48px;
    background-position: -353px -411px;
}

.g3v1-sprite-cart-336 {
    width: 48px;
    height: 48px;
    background-position: -411px -411px;
}

.g3v1-sprite-cart-337 {
    width: 48px;
    height: 48px;
    background-position: -469px -411px;
}

.g3v1-sprite-cart-338 {
    width: 48px;
    height: 48px;
    background-position: -527px -411px;
}

.g3v1-sprite-cart-339 {
    width: 48px;
    height: 48px;
    background-position: -585px -411px;
}

.g3v1-sprite-cart-340 {
    width: 48px;
    height: 48px;
    background-position: -5px -469px;
}

.g3v1-sprite-cart-341 {
    width: 48px;
    height: 48px;
    background-position: -63px -469px;
}

.g3v1-sprite-cart-342 {
    width: 48px;
    height: 48px;
    background-position: -121px -469px;
}

.g3v1-sprite-cart-343 {
    width: 48px;
    height: 48px;
    background-position: -179px -469px;
}

.g3v1-sprite-cart-344 {
    width: 48px;
    height: 48px;
    background-position: -237px -469px;
}

.g3v1-sprite-cart-345 {
    width: 48px;
    height: 48px;
    background-position: -295px -469px;
}

.g3v1-sprite-cart-346 {
    width: 48px;
    height: 48px;
    background-position: -353px -469px;
}

.g3v1-sprite-cart-347 {
    width: 48px;
    height: 48px;
    background-position: -411px -469px;
}

.g3v1-sprite-cart-348 {
    width: 48px;
    height: 48px;
    background-position: -469px -469px;
}

.g3v1-sprite-cart-349 {
    width: 48px;
    height: 48px;
    background-position: -527px -469px;
}

.g3v1-sprite-cart-350 {
    width: 48px;
    height: 48px;
    background-position: -585px -469px;
}

.g3v1-sprite-cart-351 {
    width: 48px;
    height: 48px;
    background-position: -5px -527px;
}

.g3v1-sprite-cart-352 {
    width: 48px;
    height: 48px;
    background-position: -63px -527px;
}

.g3v1-sprite-cart-353 {
    width: 48px;
    height: 48px;
    background-position: -121px -527px;
}

.g3v1-sprite-cart-354 {
    width: 48px;
    height: 48px;
    background-position: -179px -527px;
}

.g3v1-sprite-cart-355 {
    width: 48px;
    height: 48px;
    background-position: -237px -527px;
}

.g3v1-sprite-cart-356 {
    width: 48px;
    height: 48px;
    background-position: -295px -527px;
}

.g3v1-sprite-cart-357 {
    width: 48px;
    height: 48px;
    background-position: -353px -527px;
}

.g3v1-sprite-cart-358 {
    width: 48px;
    height: 48px;
    background-position: -411px -527px;
}

.g3v1-sprite-cart-359 {
    width: 48px;
    height: 48px;
    background-position: -469px -527px;
}

.g3v1-sprite-cart-360 {
    width: 48px;
    height: 48px;
    background-position: -527px -527px;
}

.g3v1-sprite-cart-361 {
    width: 48px;
    height: 48px;
    background-position: -585px -527px;
}

.g3v1-sprite-cart-362 {
    width: 48px;
    height: 48px;
    background-position: -5px -585px;
}

.g3v1-sprite-cart-363 {
    width: 48px;
    height: 48px;
    background-position: -63px -585px;
}

.g3v1-sprite-cart-364 {
    width: 48px;
    height: 48px;
    background-position: -121px -585px;
}

.g3v1-sprite-cart-365 {
    width: 48px;
    height: 48px;
    background-position: -179px -585px;
}

.g3v1-sprite-cart-366 {
    width: 48px;
    height: 48px;
    background-position: -237px -585px;
}

.g3v1-sprite-cart-367 {
    width: 48px;
    height: 48px;
    background-position: -295px -585px;
}

.g3v1-sprite-cart-368 {
    width: 48px;
    height: 48px;
    background-position: -353px -585px;
}

.g3v1-sprite-cart-369 {
    width: 48px;
    height: 48px;
    background-position: -411px -585px;
}

.g3v1-sprite-cart-370 {
    width: 48px;
    height: 48px;
    background-position: -469px -585px;
}

.g3v1-sprite-cart-371 {
    width: 48px;
    height: 48px;
    background-position: -527px -585px;
}

.g3v1-sprite-cart-372 {
    width: 48px;
    height: 48px;
    background-position: -585px -585px;
}

.g3v1-sprite-cart-373 {
    width: 48px;
    height: 48px;
    background-position: -643px -5px;
}

.g3v1-sprite-cart-374 {
    width: 48px;
    height: 48px;
    background-position: -643px -63px;
}

.g3v1-sprite-cart-375 {
    width: 48px;
    height: 48px;
    background-position: -643px -121px;
}

.g3v1-sprite-cart-376 {
    width: 48px;
    height: 48px;
    background-position: -643px -179px;
}

.g3v1-sprite-cart-377 {
    width: 48px;
    height: 48px;
    background-position: -643px -237px;
}

.g3v1-sprite-cart-378 {
    width: 48px;
    height: 48px;
    background-position: -643px -295px;
}

.g3v1-sprite-cart-379 {
    width: 48px;
    height: 48px;
    background-position: -643px -353px;
}

.g3v1-sprite-cart-380 {
    width: 48px;
    height: 48px;
    background-position: -643px -411px;
}

.g3v1-sprite-cart-381 {
    width: 48px;
    height: 48px;
    background-position: -643px -469px;
}

.g3v1-sprite-cart-382 {
    width: 48px;
    height: 48px;
    background-position: -643px -527px;
}

.g3v1-sprite-cart-383 {
    width: 48px;
    height: 48px;
    background-position: -643px -585px;
}

.g3v1-sprite-cart-384 {
    width: 48px;
    height: 48px;
    background-position: -5px -643px;
}

.g3v1-sprite-cart-385 {
    width: 48px;
    height: 48px;
    background-position: -63px -643px;
}

.g3v1-sprite-cart-386 {
    width: 48px;
    height: 48px;
    background-position: -121px -643px;
}
