.g2v1-sprite-cart span {
    background-image: url(../img/spritesheet_medium_g2v1_cart.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.g2v1-sprite-og cart {
    float: left;
}

.g2v1-sprite-cart-152 {
    width: 48px;
    height: 48px;
    background-position: -5px -5px;
}

.g2v1-sprite-cart-153 {
    width: 48px;
    height: 48px;
    background-position: -63px -5px;
}

.g2v1-sprite-cart-154 {
    width: 48px;
    height: 48px;
    background-position: -121px -5px;
}

.g2v1-sprite-cart-155 {
    width: 48px;
    height: 48px;
    background-position: -179px -5px;
}

.g2v1-sprite-cart-156 {
    width: 48px;
    height: 48px;
    background-position: -237px -5px;
}

.g2v1-sprite-cart-157 {
    width: 48px;
    height: 48px;
    background-position: -295px -5px;
}

.g2v1-sprite-cart-158 {
    width: 48px;
    height: 48px;
    background-position: -353px -5px;
}

.g2v1-sprite-cart-159 {
    width: 48px;
    height: 48px;
    background-position: -411px -5px;
}

.g2v1-sprite-cart-160 {
    width: 48px;
    height: 48px;
    background-position: -469px -5px;
}

.g2v1-sprite-cart-161 {
    width: 48px;
    height: 48px;
    background-position: -527px -5px;
}

.g2v1-sprite-cart-162 {
    width: 48px;
    height: 48px;
    background-position: -5px -63px;
}

.g2v1-sprite-cart-163 {
    width: 48px;
    height: 48px;
    background-position: -63px -63px;
}

.g2v1-sprite-cart-164 {
    width: 48px;
    height: 48px;
    background-position: -121px -63px;
}

.g2v1-sprite-cart-165 {
    width: 48px;
    height: 48px;
    background-position: -179px -63px;
}

.g2v1-sprite-cart-166 {
    width: 48px;
    height: 48px;
    background-position: -237px -63px;
}

.g2v1-sprite-cart-167 {
    width: 48px;
    height: 48px;
    background-position: -295px -63px;
}

.g2v1-sprite-cart-168 {
    width: 48px;
    height: 48px;
    background-position: -353px -63px;
}

.g2v1-sprite-cart-169 {
    width: 48px;
    height: 48px;
    background-position: -411px -63px;
}

.g2v1-sprite-cart-170 {
    width: 48px;
    height: 48px;
    background-position: -469px -63px;
}

.g2v1-sprite-cart-171 {
    width: 48px;
    height: 48px;
    background-position: -527px -63px;
}

.g2v1-sprite-cart-172 {
    width: 48px;
    height: 48px;
    background-position: -5px -121px;
}

.g2v1-sprite-cart-173 {
    width: 48px;
    height: 48px;
    background-position: -63px -121px;
}

.g2v1-sprite-cart-174 {
    width: 48px;
    height: 48px;
    background-position: -121px -121px;
}

.g2v1-sprite-cart-175 {
    width: 48px;
    height: 48px;
    background-position: -179px -121px;
}

.g2v1-sprite-cart-176 {
    width: 48px;
    height: 48px;
    background-position: -237px -121px;
}

.g2v1-sprite-cart-177 {
    width: 48px;
    height: 48px;
    background-position: -295px -121px;
}

.g2v1-sprite-cart-178 {
    width: 48px;
    height: 48px;
    background-position: -353px -121px;
}

.g2v1-sprite-cart-179 {
    width: 48px;
    height: 48px;
    background-position: -411px -121px;
}

.g2v1-sprite-cart-180 {
    width: 48px;
    height: 48px;
    background-position: -469px -121px;
}

.g2v1-sprite-cart-181 {
    width: 48px;
    height: 48px;
    background-position: -527px -121px;
}

.g2v1-sprite-cart-182 {
    width: 48px;
    height: 48px;
    background-position: -5px -179px;
}

.g2v1-sprite-cart-183 {
    width: 48px;
    height: 48px;
    background-position: -63px -179px;
}

.g2v1-sprite-cart-184 {
    width: 48px;
    height: 48px;
    background-position: -121px -179px;
}

.g2v1-sprite-cart-185 {
    width: 48px;
    height: 48px;
    background-position: -179px -179px;
}

.g2v1-sprite-cart-186 {
    width: 48px;
    height: 48px;
    background-position: -237px -179px;
}

.g2v1-sprite-cart-187 {
    width: 48px;
    height: 48px;
    background-position: -295px -179px;
}

.g2v1-sprite-cart-188 {
    width: 48px;
    height: 48px;
    background-position: -353px -179px;
}

.g2v1-sprite-cart-189 {
    width: 48px;
    height: 48px;
    background-position: -411px -179px;
}

.g2v1-sprite-cart-190 {
    width: 48px;
    height: 48px;
    background-position: -469px -179px;
}

.g2v1-sprite-cart-191 {
    width: 48px;
    height: 48px;
    background-position: -527px -179px;
}

.g2v1-sprite-cart-192 {
    width: 48px;
    height: 48px;
    background-position: -5px -237px;
}

.g2v1-sprite-cart-193 {
    width: 48px;
    height: 48px;
    background-position: -63px -237px;
}

.g2v1-sprite-cart-194 {
    width: 48px;
    height: 48px;
    background-position: -121px -237px;
}

.g2v1-sprite-cart-195 {
    width: 48px;
    height: 48px;
    background-position: -179px -237px;
}

.g2v1-sprite-cart-196 {
    width: 48px;
    height: 48px;
    background-position: -237px -237px;
}

.g2v1-sprite-cart-197 {
    width: 48px;
    height: 48px;
    background-position: -295px -237px;
}

.g2v1-sprite-cart-198 {
    width: 48px;
    height: 48px;
    background-position: -353px -237px;
}

.g2v1-sprite-cart-199 {
    width: 48px;
    height: 48px;
    background-position: -411px -237px;
}

.g2v1-sprite-cart-200 {
    width: 48px;
    height: 48px;
    background-position: -469px -237px;
}

.g2v1-sprite-cart-201 {
    width: 48px;
    height: 48px;
    background-position: -527px -237px;
}

.g2v1-sprite-cart-202 {
    width: 48px;
    height: 48px;
    background-position: -5px -295px;
}

.g2v1-sprite-cart-203 {
    width: 48px;
    height: 48px;
    background-position: -63px -295px;
}

.g2v1-sprite-cart-204 {
    width: 48px;
    height: 48px;
    background-position: -121px -295px;
}

.g2v1-sprite-cart-205 {
    width: 48px;
    height: 48px;
    background-position: -179px -295px;
}

.g2v1-sprite-cart-206 {
    width: 48px;
    height: 48px;
    background-position: -237px -295px;
}

.g2v1-sprite-cart-207 {
    width: 48px;
    height: 48px;
    background-position: -295px -295px;
}

.g2v1-sprite-cart-208 {
    width: 48px;
    height: 48px;
    background-position: -353px -295px;
}

.g2v1-sprite-cart-209 {
    width: 48px;
    height: 48px;
    background-position: -411px -295px;
}

.g2v1-sprite-cart-210 {
    width: 48px;
    height: 48px;
    background-position: -469px -295px;
}

.g2v1-sprite-cart-211 {
    width: 48px;
    height: 48px;
    background-position: -527px -295px;
}

.g2v1-sprite-cart-212 {
    width: 48px;
    height: 48px;
    background-position: -5px -353px;
}

.g2v1-sprite-cart-213 {
    width: 48px;
    height: 48px;
    background-position: -63px -353px;
}

.g2v1-sprite-cart-214 {
    width: 48px;
    height: 48px;
    background-position: -121px -353px;
}

.g2v1-sprite-cart-215 {
    width: 48px;
    height: 48px;
    background-position: -179px -353px;
}

.g2v1-sprite-cart-216 {
    width: 48px;
    height: 48px;
    background-position: -237px -353px;
}

.g2v1-sprite-cart-217 {
    width: 48px;
    height: 48px;
    background-position: -295px -353px;
}

.g2v1-sprite-cart-218 {
    width: 48px;
    height: 48px;
    background-position: -353px -353px;
}

.g2v1-sprite-cart-219 {
    width: 48px;
    height: 48px;
    background-position: -411px -353px;
}

.g2v1-sprite-cart-220 {
    width: 48px;
    height: 48px;
    background-position: -469px -353px;
}

.g2v1-sprite-cart-221 {
    width: 48px;
    height: 48px;
    background-position: -527px -353px;
}

.g2v1-sprite-cart-222 {
    width: 48px;
    height: 48px;
    background-position: -5px -411px;
}

.g2v1-sprite-cart-223 {
    width: 48px;
    height: 48px;
    background-position: -63px -411px;
}

.g2v1-sprite-cart-224 {
    width: 48px;
    height: 48px;
    background-position: -121px -411px;
}

.g2v1-sprite-cart-225 {
    width: 48px;
    height: 48px;
    background-position: -179px -411px;
}

.g2v1-sprite-cart-226 {
    width: 48px;
    height: 48px;
    background-position: -237px -411px;
}

.g2v1-sprite-cart-227 {
    width: 48px;
    height: 48px;
    background-position: -295px -411px;
}

.g2v1-sprite-cart-228 {
    width: 48px;
    height: 48px;
    background-position: -353px -411px;
}

.g2v1-sprite-cart-229 {
    width: 48px;
    height: 48px;
    background-position: -411px -411px;
}

.g2v1-sprite-cart-230 {
    width: 48px;
    height: 48px;
    background-position: -469px -411px;
}

.g2v1-sprite-cart-231 {
    width: 48px;
    height: 48px;
    background-position: -527px -411px;
}

.g2v1-sprite-cart-232 {
    width: 48px;
    height: 48px;
    background-position: -5px -469px;
}

.g2v1-sprite-cart-233 {
    width: 48px;
    height: 48px;
    background-position: -63px -469px;
}

.g2v1-sprite-cart-234 {
    width: 48px;
    height: 48px;
    background-position: -121px -469px;
}

.g2v1-sprite-cart-235 {
    width: 48px;
    height: 48px;
    background-position: -179px -469px;
}

.g2v1-sprite-cart-236 {
    width: 48px;
    height: 48px;
    background-position: -237px -469px;
}

.g2v1-sprite-cart-237 {
    width: 48px;
    height: 48px;
    background-position: -295px -469px;
}

.g2v1-sprite-cart-238 {
    width: 48px;
    height: 48px;
    background-position: -353px -469px;
}

.g2v1-sprite-cart-239 {
    width: 48px;
    height: 48px;
    background-position: -411px -469px;
}

.g2v1-sprite-cart-240 {
    width: 48px;
    height: 48px;
    background-position: -469px -469px;
}

.g2v1-sprite-cart-241 {
    width: 48px;
    height: 48px;
    background-position: -527px -469px;
}

.g2v1-sprite-cart-242 {
    width: 48px;
    height: 48px;
    background-position: -5px -527px;
}

.g2v1-sprite-cart-243 {
    width: 48px;
    height: 48px;
    background-position: -63px -527px;
}

.g2v1-sprite-cart-244 {
    width: 48px;
    height: 48px;
    background-position: -121px -527px;
}

.g2v1-sprite-cart-245 {
    width: 48px;
    height: 48px;
    background-position: -179px -527px;
}

.g2v1-sprite-cart-246 {
    width: 48px;
    height: 48px;
    background-position: -237px -527px;
}

.g2v1-sprite-cart-247 {
    width: 48px;
    height: 48px;
    background-position: -295px -527px;
}

.g2v1-sprite-cart-248 {
    width: 48px;
    height: 48px;
    background-position: -353px -527px;
}

.g2v1-sprite-cart-249 {
    width: 48px;
    height: 48px;
    background-position: -411px -527px;
}

.g2v1-sprite-cart-250 {
    width: 48px;
    height: 48px;
    background-position: -469px -527px;
}

.g2v1-sprite-cart-251 {
    width: 48px;
    height: 48px;
    background-position: -527px -527px;
}
