.g1v2-sprite-og span {
    background-image: url(../img/spritesheet_medium_g1v2_og.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.g1v2-sprite-og span {
    float: left;
    position: relative;
    top: -15px;
    left: -10px;
}

.g1v2-sprite-og-0 {
    width: 72px;
    height: 72px;
    background-position: -5px -5px;
}

.g1v2-sprite-og-100_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -5px;
}

.g1v2-sprite-og-101_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -5px;
}

.g1v2-sprite-og-102_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -5px;
}

.g1v2-sprite-og-103_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -5px;
}

.g1v2-sprite-og-103_61 {
    width: 72px;
    height: 72px;
    background-position: -415px -5px;
}

.g1v2-sprite-og-104_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -5px;
}

.g1v2-sprite-og-105_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -5px;
}

.g1v2-sprite-og-105_61 {
    width: 72px;
    height: 72px;
    background-position: -661px -5px;
}

.g1v2-sprite-og-106_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -5px;
}

.g1v2-sprite-og-107_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -5px;
}

.g1v2-sprite-og-108_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -5px;
}

.g1v2-sprite-og-109_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -5px;
}

.g1v2-sprite-og-10_00 {
    width: 72px;
    height: 72px;
    background-position: -1071px -5px;
}

.g1v2-sprite-og-110_00 {
    width: 72px;
    height: 72px;
    background-position: -1153px -5px;
}

.g1v2-sprite-og-111_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -87px;
}

.g1v2-sprite-og-111_01 {
    width: 72px;
    height: 72px;
    background-position: -87px -87px;
}

.g1v2-sprite-og-112_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -87px;
}

.g1v2-sprite-og-112_01 {
    width: 72px;
    height: 72px;
    background-position: -251px -87px;
}

.g1v2-sprite-og-113_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -87px;
}

.g1v2-sprite-og-114_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -87px;
}

.g1v2-sprite-og-115_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -87px;
}

.g1v2-sprite-og-116_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -87px;
}

.g1v2-sprite-og-117_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -87px;
}

.g1v2-sprite-og-118_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -87px;
}

.g1v2-sprite-og-118_01 {
    width: 72px;
    height: 72px;
    background-position: -825px -87px;
}

.g1v2-sprite-og-119_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -87px;
}

.g1v2-sprite-og-119_01 {
    width: 72px;
    height: 72px;
    background-position: -989px -87px;
}

.g1v2-sprite-og-11_00 {
    width: 72px;
    height: 72px;
    background-position: -1071px -87px;
}

.g1v2-sprite-og-120_00 {
    width: 72px;
    height: 72px;
    background-position: -1153px -87px;
}

.g1v2-sprite-og-121_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -169px;
}

.g1v2-sprite-og-122_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -169px;
}

.g1v2-sprite-og-123_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -169px;
}

.g1v2-sprite-og-123_01 {
    width: 72px;
    height: 72px;
    background-position: -251px -169px;
}

.g1v2-sprite-og-124_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -169px;
}

.g1v2-sprite-og-125_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -169px;
}

.g1v2-sprite-og-126_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -169px;
}

.g1v2-sprite-og-127_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -169px;
}

.g1v2-sprite-og-128_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -169px;
}

.g1v2-sprite-og-129_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -169px;
}

.g1v2-sprite-og-129_01 {
    width: 72px;
    height: 72px;
    background-position: -825px -169px;
}

.g1v2-sprite-og-12_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -169px;
}

.g1v2-sprite-og-12_01 {
    width: 72px;
    height: 72px;
    background-position: -989px -169px;
}

.g1v2-sprite-og-130_00 {
    width: 72px;
    height: 72px;
    background-position: -1071px -169px;
}

.g1v2-sprite-og-130_01 {
    width: 72px;
    height: 72px;
    background-position: -1153px -169px;
}

.g1v2-sprite-og-131_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -251px;
}

.g1v2-sprite-og-132_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -251px;
}

.g1v2-sprite-og-133_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -251px;
}

.g1v2-sprite-og-133_00_07 {
    width: 72px;
    height: 72px;
    background-position: -251px -251px;
}

.g1v2-sprite-og-134_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -251px;
}

.g1v2-sprite-og-134_00_07 {
    width: 72px;
    height: 72px;
    background-position: -415px -251px;
}

.g1v2-sprite-og-135_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -251px;
}

.g1v2-sprite-og-135_00_07 {
    width: 72px;
    height: 72px;
    background-position: -579px -251px;
}

.g1v2-sprite-og-136_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -251px;
}

.g1v2-sprite-og-136_00_07 {
    width: 72px;
    height: 72px;
    background-position: -743px -251px;
}

.g1v2-sprite-og-137_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -251px;
}

.g1v2-sprite-og-138_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -251px;
}

.g1v2-sprite-og-139_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -251px;
}

.g1v2-sprite-og-13_00 {
    width: 72px;
    height: 72px;
    background-position: -1071px -251px;
}

.g1v2-sprite-og-140_00 {
    width: 72px;
    height: 72px;
    background-position: -1153px -251px;
}

.g1v2-sprite-og-141_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -333px;
}

.g1v2-sprite-og-142_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -333px;
}

.g1v2-sprite-og-143_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -333px;
}

.g1v2-sprite-og-144_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -333px;
}

.g1v2-sprite-og-145_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -333px;
}

.g1v2-sprite-og-146_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -333px;
}

.g1v2-sprite-og-147_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -333px;
}

.g1v2-sprite-og-148_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -333px;
}

.g1v2-sprite-og-149_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -333px;
}

.g1v2-sprite-og-14_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -333px;
}

.g1v2-sprite-og-150_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -333px;
}

.g1v2-sprite-og-151_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -333px;
}

.g1v2-sprite-og-15_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -333px;
}

.g1v2-sprite-og-16_00 {
    width: 72px;
    height: 72px;
    background-position: -1071px -333px;
}

.g1v2-sprite-og-17_00 {
    width: 72px;
    height: 72px;
    background-position: -1153px -333px;
}

.g1v2-sprite-og-18_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -415px;
}

.g1v2-sprite-og-19_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -415px;
}

.g1v2-sprite-og-19_01 {
    width: 72px;
    height: 72px;
    background-position: -169px -415px;
}

.g1v2-sprite-og-19_61 {
    width: 72px;
    height: 72px;
    background-position: -251px -415px;
}

.g1v2-sprite-og-1_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -415px;
}

.g1v2-sprite-og-20_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -415px;
}

.g1v2-sprite-og-20_01 {
    width: 72px;
    height: 72px;
    background-position: -497px -415px;
}

.g1v2-sprite-og-20_61 {
    width: 72px;
    height: 72px;
    background-position: -579px -415px;
}

.g1v2-sprite-og-21_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -415px;
}

.g1v2-sprite-og-22_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -415px;
}

.g1v2-sprite-og-23_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -415px;
}

.g1v2-sprite-og-24_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -415px;
}

.g1v2-sprite-og-25_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -415px;
}

.g1v2-sprite-og-25_00_01 {
    width: 72px;
    height: 72px;
    background-position: -1071px -415px;
}

.g1v2-sprite-og-25_00_02 {
    width: 72px;
    height: 72px;
    background-position: -1153px -415px;
}

.g1v2-sprite-og-25_00_03 {
    width: 72px;
    height: 72px;
    background-position: -5px -497px;
}

.g1v2-sprite-og-25_00_04 {
    width: 72px;
    height: 72px;
    background-position: -87px -497px;
}

.g1v2-sprite-og-25_00_05 {
    width: 72px;
    height: 72px;
    background-position: -169px -497px;
}

.g1v2-sprite-og-25_00_06 {
    width: 72px;
    height: 72px;
    background-position: -251px -497px;
}

.g1v2-sprite-og-25_00_07 {
    width: 72px;
    height: 72px;
    background-position: -333px -497px;
}

.g1v2-sprite-og-25_00_08 {
    width: 72px;
    height: 72px;
    background-position: -415px -497px;
}

.g1v2-sprite-og-25_01 {
    width: 72px;
    height: 72px;
    background-position: -497px -497px;
}

.g1v2-sprite-og-25_01_01 {
    width: 72px;
    height: 72px;
    background-position: -579px -497px;
}

.g1v2-sprite-og-25_01_02 {
    width: 72px;
    height: 72px;
    background-position: -661px -497px;
}

.g1v2-sprite-og-25_01_03 {
    width: 72px;
    height: 72px;
    background-position: -743px -497px;
}

.g1v2-sprite-og-25_01_04 {
    width: 72px;
    height: 72px;
    background-position: -825px -497px;
}

.g1v2-sprite-og-25_01_05 {
    width: 72px;
    height: 72px;
    background-position: -907px -497px;
}

.g1v2-sprite-og-25_01_06 {
    width: 72px;
    height: 72px;
    background-position: -989px -497px;
}

.g1v2-sprite-og-25_01_07 {
    width: 72px;
    height: 72px;
    background-position: -1071px -497px;
}

.g1v2-sprite-og-25_01_08 {
    width: 72px;
    height: 72px;
    background-position: -1153px -497px;
}

.g1v2-sprite-og-26_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -579px;
}

.g1v2-sprite-og-26_00_01 {
    width: 72px;
    height: 72px;
    background-position: -87px -579px;
}

.g1v2-sprite-og-26_00_02 {
    width: 72px;
    height: 72px;
    background-position: -169px -579px;
}

.g1v2-sprite-og-26_00_03 {
    width: 72px;
    height: 72px;
    background-position: -251px -579px;
}

.g1v2-sprite-og-26_00_04 {
    width: 72px;
    height: 72px;
    background-position: -333px -579px;
}

.g1v2-sprite-og-26_00_05 {
    width: 72px;
    height: 72px;
    background-position: -415px -579px;
}

.g1v2-sprite-og-26_00_06 {
    width: 72px;
    height: 72px;
    background-position: -497px -579px;
}

.g1v2-sprite-og-26_00_07 {
    width: 72px;
    height: 72px;
    background-position: -579px -579px;
}

.g1v2-sprite-og-26_00_08 {
    width: 72px;
    height: 72px;
    background-position: -661px -579px;
}

.g1v2-sprite-og-26_01 {
    width: 72px;
    height: 72px;
    background-position: -743px -579px;
}

.g1v2-sprite-og-26_01_01 {
    width: 72px;
    height: 72px;
    background-position: -825px -579px;
}

.g1v2-sprite-og-26_01_02 {
    width: 72px;
    height: 72px;
    background-position: -907px -579px;
}

.g1v2-sprite-og-26_01_03 {
    width: 72px;
    height: 72px;
    background-position: -989px -579px;
}

.g1v2-sprite-og-26_01_04 {
    width: 72px;
    height: 72px;
    background-position: -1071px -579px;
}

.g1v2-sprite-og-26_01_05 {
    width: 72px;
    height: 72px;
    background-position: -1153px -579px;
}

.g1v2-sprite-og-26_01_06 {
    width: 72px;
    height: 72px;
    background-position: -5px -661px;
}

.g1v2-sprite-og-26_01_07 {
    width: 72px;
    height: 72px;
    background-position: -87px -661px;
}

.g1v2-sprite-og-26_01_08 {
    width: 72px;
    height: 72px;
    background-position: -169px -661px;
}

.g1v2-sprite-og-26_61 {
    width: 72px;
    height: 72px;
    background-position: -251px -661px;
}

.g1v2-sprite-og-26_61_01 {
    width: 72px;
    height: 72px;
    background-position: -333px -661px;
}

.g1v2-sprite-og-26_61_02 {
    width: 72px;
    height: 72px;
    background-position: -415px -661px;
}

.g1v2-sprite-og-26_61_03 {
    width: 72px;
    height: 72px;
    background-position: -497px -661px;
}

.g1v2-sprite-og-26_61_04 {
    width: 72px;
    height: 72px;
    background-position: -579px -661px;
}

.g1v2-sprite-og-26_61_05 {
    width: 72px;
    height: 72px;
    background-position: -661px -661px;
}

.g1v2-sprite-og-27_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -661px;
}

.g1v2-sprite-og-27_61 {
    width: 72px;
    height: 72px;
    background-position: -825px -661px;
}

.g1v2-sprite-og-28_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -661px;
}

.g1v2-sprite-og-28_61 {
    width: 72px;
    height: 72px;
    background-position: -989px -661px;
}

.g1v2-sprite-og-29_00 {
    width: 72px;
    height: 72px;
    background-position: -1071px -661px;
}

.g1v2-sprite-og-2_00 {
    width: 72px;
    height: 72px;
    background-position: -1153px -661px;
}

.g1v2-sprite-og-30_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -743px;
}

.g1v2-sprite-og-31_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -743px;
}

.g1v2-sprite-og-32_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -743px;
}

.g1v2-sprite-og-33_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -743px;
}

.g1v2-sprite-og-34_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -743px;
}

.g1v2-sprite-og-35_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -743px;
}

.g1v2-sprite-og-36_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -743px;
}

.g1v2-sprite-og-37_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -743px;
}

.g1v2-sprite-og-37_61 {
    width: 72px;
    height: 72px;
    background-position: -661px -743px;
}

.g1v2-sprite-og-38_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -743px;
}

.g1v2-sprite-og-38_61 {
    width: 72px;
    height: 72px;
    background-position: -825px -743px;
}

.g1v2-sprite-og-39_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -743px;
}

.g1v2-sprite-og-3_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -743px;
}

.g1v2-sprite-og-3_01 {
    width: 72px;
    height: 72px;
    background-position: -1071px -743px;
}

.g1v2-sprite-og-40_00 {
    width: 72px;
    height: 72px;
    background-position: -1153px -743px;
}

.g1v2-sprite-og-41_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -825px;
}

.g1v2-sprite-og-41_01 {
    width: 72px;
    height: 72px;
    background-position: -87px -825px;
}

.g1v2-sprite-og-42_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -825px;
}

.g1v2-sprite-og-42_01 {
    width: 72px;
    height: 72px;
    background-position: -251px -825px;
}

.g1v2-sprite-og-43_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -825px;
}

.g1v2-sprite-og-44_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -825px;
}

.g1v2-sprite-og-44_01 {
    width: 72px;
    height: 72px;
    background-position: -497px -825px;
}

.g1v2-sprite-og-45_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -825px;
}

.g1v2-sprite-og-45_01 {
    width: 72px;
    height: 72px;
    background-position: -661px -825px;
}

.g1v2-sprite-og-46_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -825px;
}

.g1v2-sprite-og-47_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -825px;
}

.g1v2-sprite-og-48_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -825px;
}

.g1v2-sprite-og-49_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -825px;
}

.g1v2-sprite-og-4_00 {
    width: 72px;
    height: 72px;
    background-position: -1071px -825px;
}

.g1v2-sprite-og-50_00 {
    width: 72px;
    height: 72px;
    background-position: -1153px -825px;
}

.g1v2-sprite-og-50_61 {
    width: 72px;
    height: 72px;
    background-position: -5px -907px;
}

.g1v2-sprite-og-51_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -907px;
}

.g1v2-sprite-og-51_61 {
    width: 72px;
    height: 72px;
    background-position: -169px -907px;
}

.g1v2-sprite-og-52_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -907px;
}

.g1v2-sprite-og-52_61 {
    width: 72px;
    height: 72px;
    background-position: -333px -907px;
}

.g1v2-sprite-og-53_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -907px;
}

.g1v2-sprite-og-53_61 {
    width: 72px;
    height: 72px;
    background-position: -497px -907px;
}

.g1v2-sprite-og-54_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -907px;
}

.g1v2-sprite-og-55_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -907px;
}

.g1v2-sprite-og-56_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -907px;
}

.g1v2-sprite-og-57_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -907px;
}

.g1v2-sprite-og-58_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -907px;
}

.g1v2-sprite-og-59_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -907px;
}

.g1v2-sprite-og-5_00 {
    width: 72px;
    height: 72px;
    background-position: -1071px -907px;
}

.g1v2-sprite-og-60_00 {
    width: 72px;
    height: 72px;
    background-position: -1153px -907px;
}

.g1v2-sprite-og-61_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -989px;
}

.g1v2-sprite-og-62_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -989px;
}

.g1v2-sprite-og-63_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -989px;
}

.g1v2-sprite-og-64_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -989px;
}

.g1v2-sprite-og-64_01 {
    width: 72px;
    height: 72px;
    background-position: -333px -989px;
}

.g1v2-sprite-og-65_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -989px;
}

.g1v2-sprite-og-65_01 {
    width: 72px;
    height: 72px;
    background-position: -497px -989px;
}

.g1v2-sprite-og-66_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -989px;
}

.g1v2-sprite-og-67_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -989px;
}

.g1v2-sprite-og-68_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -989px;
}

.g1v2-sprite-og-69_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -989px;
}

.g1v2-sprite-og-6_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -989px;
}

.g1v2-sprite-og-70_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -989px;
}

.g1v2-sprite-og-71_00 {
    width: 72px;
    height: 72px;
    background-position: -1071px -989px;
}

.g1v2-sprite-og-72_00 {
    width: 72px;
    height: 72px;
    background-position: -1153px -989px;
}

.g1v2-sprite-og-73_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -1071px;
}

.g1v2-sprite-og-74_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -1071px;
}

.g1v2-sprite-og-74_61 {
    width: 72px;
    height: 72px;
    background-position: -169px -1071px;
}

.g1v2-sprite-og-75_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -1071px;
}

.g1v2-sprite-og-75_61 {
    width: 72px;
    height: 72px;
    background-position: -333px -1071px;
}

.g1v2-sprite-og-76_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -1071px;
}

.g1v2-sprite-og-76_61 {
    width: 72px;
    height: 72px;
    background-position: -497px -1071px;
}

.g1v2-sprite-og-77_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -1071px;
}

.g1v2-sprite-og-78_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -1071px;
}

.g1v2-sprite-og-79_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -1071px;
}

.g1v2-sprite-og-7_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -1071px;
}

.g1v2-sprite-og-7_00_05 {
    width: 72px;
    height: 72px;
    background-position: -907px -1071px;
}

.g1v2-sprite-og-80_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -1071px;
}

.g1v2-sprite-og-81_00 {
    width: 72px;
    height: 72px;
    background-position: -1071px -1071px;
}

.g1v2-sprite-og-82_00 {
    width: 72px;
    height: 72px;
    background-position: -1153px -1071px;
}

.g1v2-sprite-og-83_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -1153px;
}

.g1v2-sprite-og-84_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -1153px;
}

.g1v2-sprite-og-84_01 {
    width: 72px;
    height: 72px;
    background-position: -169px -1153px;
}

.g1v2-sprite-og-85_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -1153px;
}

.g1v2-sprite-og-85_01 {
    width: 72px;
    height: 72px;
    background-position: -333px -1153px;
}

.g1v2-sprite-og-86_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -1153px;
}

.g1v2-sprite-og-87_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -1153px;
}

.g1v2-sprite-og-88_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -1153px;
}

.g1v2-sprite-og-88_61 {
    width: 72px;
    height: 72px;
    background-position: -661px -1153px;
}

.g1v2-sprite-og-89_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -1153px;
}

.g1v2-sprite-og-89_61 {
    width: 72px;
    height: 72px;
    background-position: -825px -1153px;
}

.g1v2-sprite-og-8_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -1153px;
}

.g1v2-sprite-og-8_00_05 {
    width: 72px;
    height: 72px;
    background-position: -989px -1153px;
}

.g1v2-sprite-og-90_00 {
    width: 72px;
    height: 72px;
    background-position: -1071px -1153px;
}

.g1v2-sprite-og-91_00 {
    width: 72px;
    height: 72px;
    background-position: -1153px -1153px;
}

.g1v2-sprite-og-92_00 {
    width: 72px;
    height: 72px;
    background-position: -1235px -5px;
}

.g1v2-sprite-og-93_00 {
    width: 72px;
    height: 72px;
    background-position: -1235px -87px;
}

.g1v2-sprite-og-94_00 {
    width: 72px;
    height: 72px;
    background-position: -1235px -169px;
}

.g1v2-sprite-og-95_00 {
    width: 72px;
    height: 72px;
    background-position: -1235px -251px;
}

.g1v2-sprite-og-96_00 {
    width: 72px;
    height: 72px;
    background-position: -1235px -333px;
}

.g1v2-sprite-og-97_00 {
    width: 72px;
    height: 72px;
    background-position: -1235px -415px;
}

.g1v2-sprite-og-97_01 {
    width: 72px;
    height: 72px;
    background-position: -1235px -497px;
}

.g1v2-sprite-og-98_00 {
    width: 72px;
    height: 72px;
    background-position: -1235px -579px;
}

.g1v2-sprite-og-99_00 {
    width: 72px;
    height: 72px;
    background-position: -1235px -661px;
}

.g1v2-sprite-og-9_00 {
    width: 72px;
    height: 72px;
    background-position: -1235px -743px;
}

.g1v2-sprite-og-9_00_05 {
    width: 72px;
    height: 72px;
    background-position: -1235px -825px;
}
