.g5v5-sprite-og span {
    background-image: url(../img/spritesheet_medium_g5v5_og.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.g5v5-sprite-og span {
    float: left;
}

.g5v4-sprite-og-494_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -5px;
}

.g5v4-sprite-og-495_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -5px;
}

.g5v4-sprite-og-496_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -5px;
}

.g5v4-sprite-og-497_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -5px;
}

.g5v4-sprite-og-498_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -5px;
}

.g5v4-sprite-og-499_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -5px;
}

.g5v4-sprite-og-500_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -5px;
}

.g5v4-sprite-og-501_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -5px;
}

.g5v4-sprite-og-502_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -5px;
}

.g5v4-sprite-og-503_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -5px;
}

.g5v4-sprite-og-504_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -5px;
}

.g5v4-sprite-og-505_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -5px;
}

.g5v4-sprite-og-506_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -5px;
}

.g5v4-sprite-og-507_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -87px;
}

.g5v4-sprite-og-508_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -87px;
}

.g5v4-sprite-og-509_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -87px;
}

.g5v4-sprite-og-510_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -87px;
}

.g5v4-sprite-og-511_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -87px;
}

.g5v4-sprite-og-512_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -87px;
}

.g5v4-sprite-og-513_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -87px;
}

.g5v4-sprite-og-514_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -87px;
}

.g5v4-sprite-og-515_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -87px;
}

.g5v4-sprite-og-516_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -87px;
}

.g5v4-sprite-og-517_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -87px;
}

.g5v4-sprite-og-518_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -87px;
}

.g5v4-sprite-og-519_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -87px;
}

.g5v4-sprite-og-520_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -169px;
}

.g5v4-sprite-og-521_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -169px;
}

.g5v4-sprite-og-521_01 {
    width: 72px;
    height: 72px;
    background-position: -169px -169px;
}

.g5v4-sprite-og-522_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -169px;
}

.g5v4-sprite-og-523_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -169px;
}

.g5v4-sprite-og-524_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -169px;
}

.g5v4-sprite-og-525_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -169px;
}

.g5v4-sprite-og-526_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -169px;
}

.g5v4-sprite-og-527_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -169px;
}

.g5v4-sprite-og-528_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -169px;
}

.g5v4-sprite-og-529_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -169px;
}

.g5v4-sprite-og-530_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -169px;
}

.g5v4-sprite-og-531_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -169px;
}

.g5v4-sprite-og-532_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -251px;
}

.g5v4-sprite-og-533_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -251px;
}

.g5v4-sprite-og-534_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -251px;
}

.g5v4-sprite-og-535_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -251px;
}

.g5v4-sprite-og-536_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -251px;
}

.g5v4-sprite-og-537_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -251px;
}

.g5v4-sprite-og-538_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -251px;
}

.g5v4-sprite-og-539_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -251px;
}

.g5v4-sprite-og-540_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -251px;
}

.g5v4-sprite-og-541_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -251px;
}

.g5v4-sprite-og-542_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -251px;
}

.g5v4-sprite-og-543_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -251px;
}

.g5v4-sprite-og-544_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -251px;
}

.g5v4-sprite-og-545_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -333px;
}

.g5v4-sprite-og-546_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -333px;
}

.g5v4-sprite-og-547_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -333px;
}

.g5v4-sprite-og-548_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -333px;
}

.g5v4-sprite-og-549_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -333px;
}

.g5v4-sprite-og-550_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -333px;
}

.g5v4-sprite-og-550_11 {
    width: 72px;
    height: 72px;
    background-position: -497px -333px;
}

.g5v4-sprite-og-550_12 {
    width: 72px;
    height: 72px;
    background-position: -579px -333px;
}

.g5v4-sprite-og-551_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -333px;
}

.g5v4-sprite-og-552_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -333px;
}

.g5v4-sprite-og-553_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -333px;
}

.g5v4-sprite-og-554_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -333px;
}

.g5v4-sprite-og-555_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -333px;
}

.g5v4-sprite-og-555_11 {
    width: 72px;
    height: 72px;
    background-position: -5px -415px;
}

.g5v4-sprite-og-555_12 {
    width: 72px;
    height: 72px;
    background-position: -87px -415px;
}

.g5v4-sprite-og-556_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -415px;
}

.g5v4-sprite-og-557_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -415px;
}

.g5v4-sprite-og-558_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -415px;
}

.g5v4-sprite-og-559_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -415px;
}

.g5v4-sprite-og-560_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -415px;
}

.g5v4-sprite-og-561_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -415px;
}

.g5v4-sprite-og-562_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -415px;
}

.g5v4-sprite-og-563_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -415px;
}

.g5v4-sprite-og-564_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -415px;
}

.g5v4-sprite-og-565_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -415px;
}

.g5v4-sprite-og-566_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -415px;
}

.g5v4-sprite-og-567_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -497px;
}

.g5v4-sprite-og-568_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -497px;
}

.g5v4-sprite-og-569_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -497px;
}

.g5v4-sprite-og-570_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -497px;
}

.g5v4-sprite-og-571_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -497px;
}

.g5v4-sprite-og-572_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -497px;
}

.g5v4-sprite-og-573_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -497px;
}

.g5v4-sprite-og-574_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -497px;
}

.g5v4-sprite-og-575_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -497px;
}

.g5v4-sprite-og-576_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -497px;
}

.g5v4-sprite-og-577_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -497px;
}

.g5v4-sprite-og-578_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -497px;
}

.g5v4-sprite-og-579_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -497px;
}

.g5v4-sprite-og-580_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -579px;
}

.g5v4-sprite-og-581_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -579px;
}

.g5v4-sprite-og-582_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -579px;
}

.g5v4-sprite-og-583_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -579px;
}

.g5v4-sprite-og-584_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -579px;
}

.g5v4-sprite-og-585_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -579px;
}

.g5v4-sprite-og-585_11 {
    width: 72px;
    height: 72px;
    background-position: -497px -579px;
}

.g5v4-sprite-og-585_12 {
    width: 72px;
    height: 72px;
    background-position: -579px -579px;
}

.g5v4-sprite-og-585_13 {
    width: 72px;
    height: 72px;
    background-position: -661px -579px;
}

.g5v4-sprite-og-585_14 {
    width: 72px;
    height: 72px;
    background-position: -743px -579px;
}

.g5v4-sprite-og-586_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -579px;
}

.g5v4-sprite-og-586_11 {
    width: 72px;
    height: 72px;
    background-position: -907px -579px;
}

.g5v4-sprite-og-586_12 {
    width: 72px;
    height: 72px;
    background-position: -989px -579px;
}

.g5v4-sprite-og-586_13 {
    width: 72px;
    height: 72px;
    background-position: -5px -661px;
}

.g5v4-sprite-og-586_14 {
    width: 72px;
    height: 72px;
    background-position: -87px -661px;
}

.g5v4-sprite-og-587_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -661px;
}

.g5v4-sprite-og-588_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -661px;
}

.g5v4-sprite-og-589_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -661px;
}

.g5v4-sprite-og-590_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -661px;
}

.g5v4-sprite-og-591_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -661px;
}

.g5v4-sprite-og-592_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -661px;
}

.g5v4-sprite-og-593_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -661px;
}

.g5v4-sprite-og-594_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -661px;
}

.g5v4-sprite-og-595_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -661px;
}

.g5v4-sprite-og-596_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -661px;
}

.g5v4-sprite-og-597_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -661px;
}

.g5v4-sprite-og-598_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -743px;
}

.g5v4-sprite-og-599_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -743px;
}

.g5v4-sprite-og-600_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -743px;
}

.g5v4-sprite-og-601_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -743px;
}

.g5v4-sprite-og-602_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -743px;
}

.g5v4-sprite-og-603_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -743px;
}

.g5v4-sprite-og-604_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -743px;
}

.g5v4-sprite-og-605_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -743px;
}

.g5v4-sprite-og-606_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -743px;
}

.g5v4-sprite-og-607_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -743px;
}

.g5v4-sprite-og-608_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -743px;
}

.g5v4-sprite-og-609_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -743px;
}

.g5v4-sprite-og-610_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -743px;
}

.g5v4-sprite-og-611_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -825px;
}

.g5v4-sprite-og-612_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -825px;
}

.g5v4-sprite-og-613_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -825px;
}

.g5v4-sprite-og-614_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -825px;
}

.g5v4-sprite-og-615_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -825px;
}

.g5v4-sprite-og-616_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -825px;
}

.g5v4-sprite-og-617_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -825px;
}

.g5v4-sprite-og-618_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -825px;
}

.g5v4-sprite-og-619_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -825px;
}

.g5v4-sprite-og-620_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -825px;
}

.g5v4-sprite-og-621_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -825px;
}

.g5v4-sprite-og-622_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -825px;
}

.g5v4-sprite-og-623_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -825px;
}

.g5v4-sprite-og-624_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -907px;
}

.g5v4-sprite-og-625_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -907px;
}

.g5v4-sprite-og-626_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -907px;
}

.g5v4-sprite-og-627_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -907px;
}

.g5v4-sprite-og-628_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -907px;
}

.g5v4-sprite-og-629_00 {
    width: 72px;
    height: 72px;
    background-position: -415px -907px;
}

.g5v4-sprite-og-630_00 {
    width: 72px;
    height: 72px;
    background-position: -497px -907px;
}

.g5v4-sprite-og-631_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -907px;
}

.g5v4-sprite-og-632_00 {
    width: 72px;
    height: 72px;
    background-position: -661px -907px;
}

.g5v4-sprite-og-633_00 {
    width: 72px;
    height: 72px;
    background-position: -743px -907px;
}

.g5v4-sprite-og-634_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -907px;
}

.g5v4-sprite-og-635_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -907px;
}

.g5v4-sprite-og-636_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -907px;
}

.g5v4-sprite-og-637_00 {
    width: 72px;
    height: 72px;
    background-position: -5px -989px;
}

.g5v4-sprite-og-638_00 {
    width: 72px;
    height: 72px;
    background-position: -87px -989px;
}

.g5v4-sprite-og-639_00 {
    width: 72px;
    height: 72px;
    background-position: -169px -989px;
}

.g5v4-sprite-og-640_00 {
    width: 72px;
    height: 72px;
    background-position: -251px -989px;
}

.g5v4-sprite-og-641_00 {
    width: 72px;
    height: 72px;
    background-position: -333px -989px;
}

.g5v4-sprite-og-641_11 {
    width: 72px;
    height: 72px;
    background-position: -415px -989px;
}

.g5v4-sprite-og-641_12 {
    width: 72px;
    height: 72px;
    background-position: -497px -989px;
}

.g5v4-sprite-og-642_00 {
    width: 72px;
    height: 72px;
    background-position: -579px -989px;
}

.g5v4-sprite-og-642_11 {
    width: 72px;
    height: 72px;
    background-position: -661px -989px;
}

.g5v4-sprite-og-642_12 {
    width: 72px;
    height: 72px;
    background-position: -743px -989px;
}

.g5v4-sprite-og-643_00 {
    width: 72px;
    height: 72px;
    background-position: -825px -989px;
}

.g5v4-sprite-og-644_00 {
    width: 72px;
    height: 72px;
    background-position: -907px -989px;
}

.g5v4-sprite-og-645_00 {
    width: 72px;
    height: 72px;
    background-position: -989px -989px;
}

.g5v4-sprite-og-645_11 {
    width: 72px;
    height: 72px;
    background-position: -1071px -5px;
}

.g5v4-sprite-og-645_12 {
    width: 72px;
    height: 72px;
    background-position: -1071px -87px;
}

.g5v4-sprite-og-646_00 {
    width: 72px;
    height: 72px;
    background-position: -1071px -169px;
}

.g5v4-sprite-og-646_11 {
    width: 72px;
    height: 72px;
    background-position: -1071px -251px;
}

.g5v4-sprite-og-646_12 {
    width: 72px;
    height: 72px;
    background-position: -1071px -333px;
}

.g5v4-sprite-og-646_13 {
    width: 72px;
    height: 72px;
    background-position: -1071px -415px;
}

.g5v4-sprite-og-647_00 {
    width: 72px;
    height: 72px;
    background-position: -1071px -497px;
}

.g5v4-sprite-og-647_11 {
    width: 72px;
    height: 72px;
    background-position: -1071px -579px;
}

.g5v4-sprite-og-647_12 {
    width: 72px;
    height: 72px;
    background-position: -1071px -661px;
}

.g5v4-sprite-og-648_00 {
    width: 72px;
    height: 72px;
    background-position: -1071px -743px;
}

.g5v4-sprite-og-648_11 {
    width: 72px;
    height: 72px;
    background-position: -1071px -825px;
}

.g5v4-sprite-og-648_12 {
    width: 72px;
    height: 72px;
    background-position: -1071px -907px;
}

.g5v4-sprite-og-649_00 {
    width: 72px;
    height: 72px;
    background-position: -1071px -989px;
}

.g5v4-sprite-og-649_11 {
    width: 72px;
    height: 72px;
    background-position: -5px -1071px;
}

.g5v4-sprite-og-649_12 {
    width: 72px;
    height: 72px;
    background-position: -87px -1071px;
}

.g5v4-sprite-og-649_13 {
    width: 72px;
    height: 72px;
    background-position: -169px -1071px;
}

.g5v4-sprite-og-649_14 {
    width: 72px;
    height: 72px;
    background-position: -251px -1071px;
}

.g5v4-sprite-og-649_15 {
    width: 72px;
    height: 72px;
    background-position: -333px -1071px;
}
