.g6v3-sprite-og span {
    background-image: url(../img/spritesheet_medium_g6v3_og.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.g6v3-sprite-og span {
    float: left;
}

.g6v3-sprite-og-650_00 {
    width: 72px;
    height: 72px;
    background-position: 0 0;
}

.g6v3-sprite-og-651_00 {
    width: 72px;
    height: 72px;
    background-position: -72px 0;
}

.g6v3-sprite-og-652_00 {
    width: 72px;
    height: 72px;
    background-position: -144px 0;
}

.g6v3-sprite-og-653_00 {
    width: 72px;
    height: 72px;
    background-position: -216px 0;
}

.g6v3-sprite-og-654_00 {
    width: 72px;
    height: 72px;
    background-position: -288px 0;
}

.g6v3-sprite-og-655_00 {
    width: 72px;
    height: 72px;
    background-position: -360px 0;
}

.g6v3-sprite-og-656_00 {
    width: 72px;
    height: 72px;
    background-position: -432px 0;
}

.g6v3-sprite-og-657_00 {
    width: 72px;
    height: 72px;
    background-position: -504px 0;
}

.g6v3-sprite-og-658_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -72px;
}

.g6v3-sprite-og-659_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -72px;
}

.g6v3-sprite-og-660_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -72px;
}

.g6v3-sprite-og-661_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -72px;
}

.g6v3-sprite-og-662_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -72px;
}

.g6v3-sprite-og-663_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -72px;
}

.g6v3-sprite-og-664_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -72px;
}

.g6v3-sprite-og-665_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -72px;
}

.g6v3-sprite-og-666_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -144px;
}

.g6v3-sprite-og-667_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -144px;
}

.g6v3-sprite-og-668_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -144px;
}

.g6v3-sprite-og-669_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -144px;
}

.g6v3-sprite-og-670_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -144px;
}

.g6v3-sprite-og-671_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -144px;
}

.g6v3-sprite-og-672_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -144px;
}

.g6v3-sprite-og-673_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -144px;
}

.g6v3-sprite-og-674_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -216px;
}

.g6v3-sprite-og-675_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -216px;
}

.g6v3-sprite-og-676_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -216px;
}

.g6v3-sprite-og-677_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -216px;
}

.g6v3-sprite-og-678_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -216px;
}

.g6v3-sprite-og-679_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -216px;
}

.g6v3-sprite-og-680_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -216px;
}

.g6v3-sprite-og-681_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -216px;
}

.g6v3-sprite-og-682_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -288px;
}

.g6v3-sprite-og-683_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -288px;
}

.g6v3-sprite-og-684_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -288px;
}

.g6v3-sprite-og-685_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -288px;
}

.g6v3-sprite-og-686_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -288px;
}

.g6v3-sprite-og-687_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -288px;
}

.g6v3-sprite-og-688_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -288px;
}

.g6v3-sprite-og-689_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -288px;
}

.g6v3-sprite-og-690_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -360px;
}

.g6v3-sprite-og-691_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -360px;
}

.g6v3-sprite-og-692_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -360px;
}

.g6v3-sprite-og-693_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -360px;
}

.g6v3-sprite-og-694_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -360px;
}

.g6v3-sprite-og-695_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -360px;
}

.g6v3-sprite-og-696_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -360px;
}

.g6v3-sprite-og-697_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -360px;
}

.g6v3-sprite-og-698_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -432px;
}

.g6v3-sprite-og-699_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -432px;
}

.g6v3-sprite-og-700_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -432px;
}

.g6v3-sprite-og-701_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -432px;
}

.g6v3-sprite-og-702_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -432px;
}

.g6v3-sprite-og-703_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -432px;
}

.g6v3-sprite-og-704_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -432px;
}

.g6v3-sprite-og-705_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -432px;
}

.g6v3-sprite-og-706_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -504px;
}

.g6v3-sprite-og-707_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -504px;
}

.g6v3-sprite-og-708_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -504px;
}

.g6v3-sprite-og-709_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -504px;
}

.g6v3-sprite-og-710_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -504px;
}

.g6v3-sprite-og-711_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -504px;
}

.g6v3-sprite-og-712_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -504px;
}

.g6v3-sprite-og-713_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -504px;
}

.g6v3-sprite-og-714_00 {
    width: 72px;
    height: 72px;
    background-position: -576px 0;
}

.g6v3-sprite-og-715_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -72px;
}

.g6v3-sprite-og-716_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -144px;
}

.g6v3-sprite-og-717_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -216px;
}

.g6v3-sprite-og-718_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -288px;
}

.g6v3-sprite-og-719_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -360px;
}

.g6v3-sprite-og-720_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -432px;
}

.g6v3-sprite-og-721_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -504px;
}
