.g5v3-sprite-og span {
    background-image: url(../img/spritesheet_medium_g5v3_og.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.g5v3-sprite-og span {
    float: left;
}

.g5v3-sprite-og-495_00 {
    width: 72px;
    height: 72px;
    background-position: 0 0;
}

.g5v3-sprite-og-496_00 {
    width: 72px;
    height: 72px;
    background-position: -72px 0;
}

.g5v3-sprite-og-497_00 {
    width: 72px;
    height: 72px;
    background-position: -144px 0;
}

.g5v3-sprite-og-498_00 {
    width: 72px;
    height: 72px;
    background-position: -216px 0;
}

.g5v3-sprite-og-499_00 {
    width: 72px;
    height: 72px;
    background-position: -288px 0;
}

.g5v3-sprite-og-500_00 {
    width: 72px;
    height: 72px;
    background-position: -360px 0;
}

.g5v3-sprite-og-501_00 {
    width: 72px;
    height: 72px;
    background-position: -432px 0;
}

.g5v3-sprite-og-502_00 {
    width: 72px;
    height: 72px;
    background-position: -504px 0;
}

.g5v3-sprite-og-503_00 {
    width: 72px;
    height: 72px;
    background-position: -576px 0;
}

.g5v3-sprite-og-504_00 {
    width: 72px;
    height: 72px;
    background-position: -648px 0;
}

.g5v3-sprite-og-505_00 {
    width: 72px;
    height: 72px;
    background-position: -720px 0;
}

.g5v3-sprite-og-506_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -72px;
}

.g5v3-sprite-og-507_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -72px;
}

.g5v3-sprite-og-508_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -72px;
}

.g5v3-sprite-og-509_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -72px;
}

.g5v3-sprite-og-510_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -72px;
}

.g5v3-sprite-og-511_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -72px;
}

.g5v3-sprite-og-512_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -72px;
}

.g5v3-sprite-og-513_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -72px;
}

.g5v3-sprite-og-514_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -72px;
}

.g5v3-sprite-og-515_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -72px;
}

.g5v3-sprite-og-516_00 {
    width: 72px;
    height: 72px;
    background-position: -720px -72px;
}

.g5v3-sprite-og-517_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -144px;
}

.g5v3-sprite-og-518_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -144px;
}

.g5v3-sprite-og-519_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -144px;
}

.g5v3-sprite-og-520_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -144px;
}

.g5v3-sprite-og-521_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -144px;
}

.g5v3-sprite-og-521_01 {
    width: 72px;
    height: 72px;
    background-position: -360px -144px;
}

.g5v3-sprite-og-522_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -144px;
}

.g5v3-sprite-og-523_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -144px;
}

.g5v3-sprite-og-524_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -144px;
}

.g5v3-sprite-og-525_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -144px;
}

.g5v3-sprite-og-526_00 {
    width: 72px;
    height: 72px;
    background-position: -720px -144px;
}

.g5v3-sprite-og-527_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -216px;
}

.g5v3-sprite-og-528_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -216px;
}

.g5v3-sprite-og-529_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -216px;
}

.g5v3-sprite-og-530_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -216px;
}

.g5v3-sprite-og-531_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -216px;
}

.g5v3-sprite-og-532_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -216px;
}

.g5v3-sprite-og-533_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -216px;
}

.g5v3-sprite-og-534_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -216px;
}

.g5v3-sprite-og-535_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -216px;
}

.g5v3-sprite-og-536_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -216px;
}

.g5v3-sprite-og-537_00 {
    width: 72px;
    height: 72px;
    background-position: -720px -216px;
}

.g5v3-sprite-og-538_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -288px;
}

.g5v3-sprite-og-539_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -288px;
}

.g5v3-sprite-og-540_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -288px;
}

.g5v3-sprite-og-541_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -288px;
}

.g5v3-sprite-og-542_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -288px;
}

.g5v3-sprite-og-543_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -288px;
}

.g5v3-sprite-og-544_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -288px;
}

.g5v3-sprite-og-545_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -288px;
}

.g5v3-sprite-og-546_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -288px;
}

.g5v3-sprite-og-547_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -288px;
}

.g5v3-sprite-og-548_00 {
    width: 72px;
    height: 72px;
    background-position: -720px -288px;
}

.g5v3-sprite-og-549_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -360px;
}

.g5v3-sprite-og-550_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -360px;
}

.g5v3-sprite-og-550_11 {
    width: 72px;
    height: 72px;
    background-position: -144px -360px;
}

.g5v3-sprite-og-550_12 {
    width: 72px;
    height: 72px;
    background-position: -216px -360px;
}

.g5v3-sprite-og-551_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -360px;
}

.g5v3-sprite-og-552_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -360px;
}

.g5v3-sprite-og-553_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -360px;
}

.g5v3-sprite-og-556_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -360px;
}

.g5v3-sprite-og-557_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -360px;
}

.g5v3-sprite-og-558_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -360px;
}

.g5v3-sprite-og-559_00 {
    width: 72px;
    height: 72px;
    background-position: -720px -360px;
}

.g5v3-sprite-og-560_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -432px;
}

.g5v3-sprite-og-561_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -432px;
}

.g5v3-sprite-og-562_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -432px;
}

.g5v3-sprite-og-563_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -432px;
}

.g5v3-sprite-og-564_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -432px;
}

.g5v3-sprite-og-565_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -432px;
}

.g5v3-sprite-og-566_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -432px;
}

.g5v3-sprite-og-567_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -432px;
}

.g5v3-sprite-og-568_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -432px;
}

.g5v3-sprite-og-569_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -432px;
}

.g5v3-sprite-og-570_00 {
    width: 72px;
    height: 72px;
    background-position: -720px -432px;
}

.g5v3-sprite-og-571_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -504px;
}

.g5v3-sprite-og-588_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -504px;
}

.g5v3-sprite-og-589_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -504px;
}

.g5v3-sprite-og-590_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -504px;
}

.g5v3-sprite-og-591_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -504px;
}

.g5v3-sprite-og-595_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -504px;
}

.g5v3-sprite-og-596_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -504px;
}

.g5v3-sprite-og-597_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -504px;
}

.g5v3-sprite-og-598_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -504px;
}

.g5v3-sprite-og-599_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -504px;
}

.g5v3-sprite-og-600_00 {
    width: 72px;
    height: 72px;
    background-position: -720px -504px;
}

.g5v3-sprite-og-601_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -576px;
}

.g5v3-sprite-og-603_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -576px;
}

.g5v3-sprite-og-604_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -576px;
}

.g5v3-sprite-og-607_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -576px;
}

.g5v3-sprite-og-608_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -576px;
}

.g5v3-sprite-og-609_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -576px;
}

.g5v3-sprite-og-610_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -576px;
}

.g5v3-sprite-og-611_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -576px;
}

.g5v3-sprite-og-612_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -576px;
}

.g5v3-sprite-og-613_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -576px;
}

.g5v3-sprite-og-614_00 {
    width: 72px;
    height: 72px;
    background-position: -720px -576px;
}

.g5v3-sprite-og-615_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -648px;
}

.g5v3-sprite-og-616_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -648px;
}

.g5v3-sprite-og-617_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -648px;
}

.g5v3-sprite-og-621_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -648px;
}

.g5v3-sprite-og-622_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -648px;
}

.g5v3-sprite-og-623_00 {
    width: 72px;
    height: 72px;
    background-position: -360px -648px;
}

.g5v3-sprite-og-631_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -648px;
}

.g5v3-sprite-og-632_00 {
    width: 72px;
    height: 72px;
    background-position: -504px -648px;
}

.g5v3-sprite-og-633_00 {
    width: 72px;
    height: 72px;
    background-position: -576px -648px;
}

.g5v3-sprite-og-634_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -648px;
}

.g5v3-sprite-og-635_00 {
    width: 72px;
    height: 72px;
    background-position: -720px -648px;
}

.g5v3-sprite-og-638_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -720px;
}

.g5v3-sprite-og-639_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -720px;
}

.g5v3-sprite-og-640_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -720px;
}

.g5v3-sprite-og-641_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -720px;
}

.g5v3-sprite-og-641_11 {
    width: 72px;
    height: 72px;
    background-position: -288px -720px;
}

.g5v3-sprite-og-641_12 {
    width: 72px;
    height: 72px;
    background-position: -360px -720px;
}

.g5v3-sprite-og-642_00 {
    width: 72px;
    height: 72px;
    background-position: -432px -720px;
}

.g5v3-sprite-og-642_11 {
    width: 72px;
    height: 72px;
    background-position: -504px -720px;
}

.g5v3-sprite-og-642_12 {
    width: 72px;
    height: 72px;
    background-position: -576px -720px;
}

.g5v3-sprite-og-643_00 {
    width: 72px;
    height: 72px;
    background-position: -648px -720px;
}

.g5v3-sprite-og-644_00 {
    width: 72px;
    height: 72px;
    background-position: -720px -720px;
}

.g5v3-sprite-og-645_00 {
    width: 72px;
    height: 72px;
    background-position: -792px 0;
}

.g5v3-sprite-og-645_11 {
    width: 72px;
    height: 72px;
    background-position: -792px -72px;
}

.g5v3-sprite-og-645_12 {
    width: 72px;
    height: 72px;
    background-position: -792px -144px;
}

.g5v3-sprite-og-646_00 {
    width: 72px;
    height: 72px;
    background-position: -792px -216px;
}

.g5v3-sprite-og-646_11 {
    width: 72px;
    height: 72px;
    background-position: -792px -288px;
}

.g5v3-sprite-og-646_12 {
    width: 72px;
    height: 72px;
    background-position: -792px -360px;
}

.g5v3-sprite-og-646_13 {
    width: 72px;
    height: 72px;
    background-position: -792px -432px;
}

.g5v3-sprite-og-649_00 {
    width: 72px;
    height: 72px;
    background-position: -792px -504px;
}

.g5v3-sprite-og-649_11 {
    width: 72px;
    height: 72px;
    background-position: -792px -576px;
}

.g5v3-sprite-og-649_12 {
    width: 72px;
    height: 72px;
    background-position: -792px -648px;
}

.g5v3-sprite-og-649_13 {
    width: 72px;
    height: 72px;
    background-position: -792px -720px;
}

.g5v3-sprite-og-649_14 {
    width: 72px;
    height: 72px;
    background-position: 0 -792px;
}

.g5v3-sprite-og-649_15 {
    width: 72px;
    height: 72px;
    background-position: -72px -792px;
}
