.g6v1-sprite-og span {
    background-image: url(../img/spritesheet_medium_g6v1_og.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.g6v1-sprite-og span {
    float: left;
}

.g6v1-sprite-og-650_00 {
    width: 72px;
    height: 72px;
    background-position: 0 0;
}

.g6v1-sprite-og-651_00 {
    width: 72px;
    height: 72px;
    background-position: -72px 0;
}

.g6v1-sprite-og-652_00 {
    width: 72px;
    height: 72px;
    background-position: -144px 0;
}

.g6v1-sprite-og-653_00 {
    width: 72px;
    height: 72px;
    background-position: -216px 0;
}

.g6v1-sprite-og-654_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -72px;
}

.g6v1-sprite-og-655_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -72px;
}

.g6v1-sprite-og-656_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -72px;
}

.g6v1-sprite-og-657_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -72px;
}

.g6v1-sprite-og-658_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -144px;
}

.g6v1-sprite-og-659_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -144px;
}

.g6v1-sprite-og-660_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -144px;
}

.g6v1-sprite-og-661_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -144px;
}

.g6v1-sprite-og-662_00 {
    width: 72px;
    height: 72px;
    background-position: 0 -216px;
}

.g6v1-sprite-og-663_00 {
    width: 72px;
    height: 72px;
    background-position: -72px -216px;
}

.g6v1-sprite-og-664_00 {
    width: 72px;
    height: 72px;
    background-position: -144px -216px;
}

.g6v1-sprite-og-667_00 {
    width: 72px;
    height: 72px;
    background-position: -216px -216px;
}

.g6v1-sprite-og-668_00 {
    width: 72px;
    height: 72px;
    background-position: -288px 0;
}

.g6v1-sprite-og-677_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -72px;
}

.g6v1-sprite-og-678_00 {
    width: 72px;
    height: 72px;
    background-position: -288px -144px;
}
